{% block body%}

{% include 'PiggyBoxShopBundle:Shop:order_sub_header.html.twig' %}

<div id="main">
	<div id="primary" class="site-content container">


	<h2 id="to_validate">Commandes à valider <sup class="badge badge-success">3</sup></h2>

		<div class="box box-margined box-success">
		    <div class="row-fluid">

		    	<div class="span2">
		    		<div class="collect-date text-centered">
	    				<h4 class="no-margin">Mercredi <br /> 25/09</h4>
	    				<h3 class="no-margin">18:00</h3>
	    			</div>
		    	</div>

				<div class="entry-description span5">
					<ul class="orderlist">
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Rôti de porc - 1,2Kg</li>
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Merguez - x16</li>
					</ul>

				</div>

				<div class="span3 text-centered">
					<h4 class="no-margin">Mr Julien Bourdeau</h4>
					<div><i class="icon-user"></i> 06.11.89.53.66</div>

					<hr class="divider" />

					<div class="order-price text-centered">32,40€</div>
				</div>

				<div class="span2">

					<div class="order-toolbox">
						<a href="#" class="btn btn-large btn-block btn-success"> <i class="icon-thumbs-up icon-white"></i> Valider </a>

						<hr class="divider" />

						<a href="#" class="btn btn-block btn-danger"><i class="icon-remove icon-white"></i> Refuser </a>
					</div>

				</div>

		    </div>

		</div>  

		
		<div class="box box-margined box-success">
		    <div class="row-fluid">

		    	<div class="span2">
		    		<div class="collect-date text-centered">
	    				<h4 class="no-margin">Mercredi <br /> 25/09</h4>
	    				<h3 class="no-margin">18:00</h3>
	    			</div>
		    	</div>

				<div class="entry-description span5">
					<ul class="orderlist">
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Rôti de porc - 1,2Kg</li>
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Merguez - x16</li>
					</ul>

				</div>

				<div class="span3 text-centered">
					<h4 class="no-margin">Mr Julien Bourdeau</h4>
					<div><i class="icon-user"></i> 06.11.89.53.66</div>
					<span class="label label-success">Première Commande</span>

					<hr class="divider" />

					<div class="order-price text-centered">32,40€</div>
				</div>

				<div class="span2">

					<div class="order-toolbox">
						<a href="#" class="btn btn-large btn-block btn-success"> <i class="icon-thumbs-up icon-white"></i> Valider </a>

						<hr class="divider" />

						<a href="#" class="btn btn-block btn-danger"> Refuser </a>
					</div>

				</div>

		    </div>

		    <hr />

		    <div class="row-fluid">
		    	<div class="span12">
		    		<div class="alert">
		    		<div class="label label-warning">Note du client</div>
		    		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac ipsum et risus vulputate euismod. Duis vehicula mattis libero sed elementum. Vestibulum semper lacus quis lectus vestibulum id mollis nisl euismod. In hac habitasse platea dictumst. Maecenas dictum mi ut nisl malesuada euismod.
		    		</div>
		    	</div>
		    </div>

		</div>  



		<div class="box box-margined box-success">
		    <div class="row-fluid">

		    	<div class="span2">
		    		<div class="collect-date text-centered">
	    				<h4 class="no-margin">Mercredi <br /> 25/09</h4>
	    				<h3 class="no-margin">18:00</h3>
	    			</div>
		    	</div>

				<div class="entry-description span5">
					<ul class="orderlist">
						<li><i class="icon-ok"></i> Rôti de porc - 1,2Kg</li>
						<li><i class="icon-ok"></i> Cote de Boefge ghrhthtfj tjjjt ttt4y uf - x4 </li>
						<li><i class="icon-ok"></i> Merguez - x160</li>
					</ul>

				</div>

				<div class="span3 text-centered">
					<h4 class="no-margin">Mr Julien Bourdeau</h4>
					<div><i class="icon-user"></i> 06.11.89.53.66</div>
					<span class="label label-success">Première Commande</span>

					<hr class="divider" />

					<div class="order-price text-centered">32,40€</div>
				</div>

				<div class="span2">

					<div class="order-toolbox">
						<a href="#" class="btn btn-large btn-block btn-success"> <i class="icon-thumbs-up icon-white"></i> Valider </a>

						<hr class="divider" />

						<a href="#" class="btn btn-block btn-danger"> Refuser </a>
					</div>

				</div>

		    </div>

		  </div>  





		<hr class="divider">
		<h2 id="to_prepare">Commandes à préparer <sup class="badge badge-warning">4</sup></h2>

		
		<div class="box box-margined box-warning">
		    <div class="row-fluid">

		    	<div class="span2">
		    		<div class="collect-date text-centered">
	    				<h4 class="no-margin">Mercredi <br /> 25/09</h4>
	    				<h3 class="no-margin">18:00</h3>
	    			</div>
		    	</div>

				<div class="entry-description span5">
					<ul class="orderlist">
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Rôti de porc - 1,2Kg</li>
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Merguez - x16</li>
					</ul>

				</div>

				<div class="span3 text-centered">
					<h4 class="no-margin">Mr Julien Bourdeau</h4>
					<div><i class="icon-user"></i> 06.11.89.53.66</div>
					<span class="label label-success">Première Commande</span>

					<hr class="divider" />

					<div class="order-price text-centered">32,40€</div>
				</div>

				<div class="span2">

					<div class="order-toolbox">
						<hr class="divider" />

						<a href="#" class="btn btn-large btn-block btn-inverse"> <i class="icon-flag icon-white"></i> Prête </a>

						<hr class="divider" />
					</div>

				</div>

		    </div>
		</div>

		

		<div class="box box-margined box-warning">
		    <div class="row-fluid">

		    	<div class="span2">
		    		<div class="collect-date text-centered">
	    				<h4 class="no-margin">Mercredi <br /> 25/09</h4>
	    				<h3 class="no-margin">18:00</h3>
	    			</div>
		    	</div>

				<div class="entry-description span5">
					<ul class="orderlist">
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Rôti de porc - 1,2Kg</li>
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Merguez - x16</li>
					</ul>

				</div>

				<div class="span3 text-centered">
					<h4 class="no-margin">Mr Julien Bourdeau</h4>
					<div><i class="icon-user"></i> 06.11.89.53.66</div>

					<hr class="divider" />

					<div class="order-price text-centered">32,40€</div>
				</div>

				<div class="span2">

					<div class="order-toolbox">
						<hr class="divider" />

						<a href="#" class="btn btn-large btn-block btn-inverse"> <i class="icon-flag icon-white"></i> Prête </a>

						<hr class="divider" />
					</div>

				</div>

		    </div>
		</div>

		

		<div class="box box-margined box-warning">
		    <div class="row-fluid">

		    	<div class="span2">
		    		<div class="collect-date text-centered">
	    				<h4 class="no-margin">Mercredi <br /> 25/09</h4>
	    				<h3 class="no-margin">18:00</h3>
	    			</div>
		    	</div>

				<div class="entry-description span5">
					<ul class="orderlist">
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Rôti de porc - 1,2Kg</li>
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Merguez - x16</li>
					</ul>

				</div>

				<div class="span3 text-centered">
					<h4 class="no-margin">Mr Julien Bourdeau</h4>
					<div><i class="icon-user"></i> 06.11.89.53.66</div>

					<hr class="divider" />

					<div class="order-price text-centered">32,40€</div>
				</div>

				<div class="span2">

					<div class="order-toolbox">
						<hr class="divider" />

						<a href="#" class="btn btn-large btn-block btn-inverse"> <i class="icon-flag icon-white"></i> Prête </a>

						<hr class="divider" />
					</div>

				</div>

		    </div>
		</div>

		 
		<div class="box box-margined box-warning">
		    <div class="row-fluid">

		    	<div class="span2">
		    		<div class="collect-date text-centered">
	    				<h4 class="no-margin">Mercredi <br /> 25/09</h4>
	    				<h3 class="no-margin">18:00</h3>
	    			</div>
		    	</div>

				<div class="entry-description span5">
					<ul class="orderlist">
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Merguez - x16</li>
					</ul>

				</div>

				<div class="span3 text-centered">
					<h4 class="no-margin">Mr Julien Bourdeau</h4>
					<div><i class="icon-user"></i> 06.11.89.53.66</div>

					<hr class="divider" />

					<div class="order-price text-centered">32,40€</div>
				</div>

				<div class="span2">

					<div class="order-toolbox">
						<hr class="divider" />

						<a href="#" class="btn btn-large btn-block btn-inverse"> <i class="icon-flag icon-white"></i> Prête </a>

						<hr class="divider" />
					</div>

				</div>

		    </div>
		</div>


			

		<hr class="divider">
		<h2 id="to_collect">Commandes à retirer <sup class="badge">5</sup></h2>

		
		<div class="box box-margined">
		    <div class="row-fluid">

		    	<div class="span2">
		    		<div class="collect-date text-centered">
	    				<h4 class="no-margin">Mercredi <br /> 25/09</h4>
	    				<h3 class="no-margin">18:00</h3>
	    			</div>
		    	</div>

				<div class="entry-description span5">
					<ul class="orderlist">
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Rôti de porc - 1,2Kg</li>
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Merguez - x16</li>
					</ul>

				</div>

				<div class="span3 text-centered">
					<h3 class="no-margin">No 45-345-11</h3>
					<hr />
					<h4 class="no-margin">Mr Julien Bourdeau</h4>
					<div><i class="icon-user"></i> 06.11.89.53.66</div>
					<span class="label label-success">Première Commande</span>

					<hr class="divider" />

					<div class="order-price text-centered">32,40€</div>
				</div>

				<div class="span2">

					<div class="order-toolbox">
						<hr class="divider" />

						<a href="#" class="btn btn-large btn-block btn-primary"> <i class="icon-download-alt icon-white"></i> Retirée </a>

						<hr class="divider" />
					</div>

				</div>

		    </div>
		</div>

		
		<div class="box box-margined">
		    <div class="row-fluid">

		    	<div class="span2">
		    		<div class="collect-date text-centered">
	    				<h4 class="no-margin">Mercredi <br /> 25/09</h4>
	    				<h3 class="no-margin">18:00</h3>
	    			</div>
		    	</div>

				<div class="entry-description span5">
					<ul class="orderlist">
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Rôti de porc - 1,2Kg</li>
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Merguez - x16</li>
					</ul>

				</div>

				<div class="span3 text-centered">
					<h3 class="no-margin">No 45-345-11</h3>
					<hr />
					<h4 class="no-margin">Mr Julien Bourdeau</h4>
					<div><i class="icon-user"></i> 06.11.89.53.66</div>

					<hr class="divider" />

					<div class="order-price text-centered">32,40€</div>
				</div>

				<div class="span2">

					<div class="order-toolbox">
						<hr class="divider" />

						<a href="#" class="btn btn-large btn-block btn-primary"> <i class="icon-download-alt icon-white"></i> Retirée </a>

						<hr class="divider" />
					</div>

				</div>

		    </div>
		</div>

		
		<div class="box box-margined">
		    <div class="row-fluid">

		    	<div class="span2">
		    		<div class="collect-date text-centered">
	    				<h4 class="no-margin">Mercredi <br /> 25/09</h4>
	    				<h3 class="no-margin">22:00</h3>
	    			</div>
		    	</div>

				<div class="entry-description span5">
					<ul class="orderlist">
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Rôti de porc - 1,2Kg</li>
						<li><i class="icon-ok"></i> Rôti de porc - 1,2Kg</li>
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Merguez - x16</li>
					</ul>

				</div>

				<div class="span3">
					<h3 class="no-margin  text-centered">No 45-345-11</h3>
					<hr />
					<h4 class="no-margin">Mr Julien Bourdeau</h4>
					<div><i class="icon-user"></i> 06.11.89.53.66</div>

					<hr class="divider" />

					<div class="order-price text-centered">32,40€</div>
				</div>

				<div class="span2">

					<div class="order-toolbox">
						<hr class="divider" />

						<a href="#" class="btn btn-large btn-block btn-primary"> <i class="icon-download-alt icon-white"></i> Retirée </a>

						<hr class="divider" />
					</div>

				</div>

		    </div>
		</div>

		
		<div class="box box-margined">
		    <div class="row-fluid">

		    	<div class="span2">
		    		<div class="collect-date text-centered">
	    				<h4 class="no-margin">Mercredi <br /> 25/09</h4>
	    				<h3 class="no-margin">18:00</h3>
	    			</div>
		    	</div>

				<div class="entry-description span5">
					<ul class="orderlist">
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Rôti de porc - 1,2Kg</li>
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Merguez - x16</li>
					</ul>

				</div>

				<div class="span3 text-centered">
					<h3 class="no-margin">No 45-345-11</h3>
					<hr />
					<h4 class="no-margin">Mr Julien Bourdeau</h4>
					<div><i class="icon-user"></i> 06.11.89.53.66</div>
					<span class="label label-success">Première Commande</span>

					<hr class="divider" />

					<div class="order-price text-centered">32,40€</div>
				</div>

				<div class="span2">

					<div class="order-toolbox">
						<hr class="divider" />

						<a href="#" class="btn btn-large btn-block btn-primary"> <i class="icon-download-alt icon-white"></i> Retirée </a>

						<hr class="divider" />
					</div>

				</div>

		    </div>
		</div>

		
		<div class="box box-margined">
		    <div class="row-fluid">

		    	<div class="span2">
		    		<div class="collect-date text-centered">
	    				<h4 class="no-margin">Mercredi <br /> 25/09</h4>
	    				<h3 class="no-margin">18:00</h3>
	    			</div>
		    	</div>

				<div class="entry-description span5">
					<ul class="orderlist">
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Cote de Boeuf - x4 </li>
						<li><i class="icon-ok"></i> Merguez - x16</li>
					</ul>

				</div>

				<div class="span3 text-centered">
					<h3 class="no-margin">No 45-345-11</h3>
					<hr />
					<h4 class="no-margin">Mr Julien Bourdeau</h4>
					<div><i class="icon-user"></i> 06.11.89.53.66</div>

					<hr class="divider" />

					<div class="order-price text-centered">32,40€</div>
				</div>

				<div class="span2">

					<div class="order-toolbox">
						<hr class="divider" />

						<a href="#" class="btn btn-large btn-block btn-primary"> <i class="icon-download-alt icon-white"></i> Retirée </a>

						<hr class="divider" />
					</div>

				</div>

		    </div>
		</div>


	</div>
</div>	

{% endblock %}
