<h1>Les commandes à valider</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
			<td>{{entity.user.username}} + </td>
			{% for orderdetail in entity.orderdetail%}
			<td>{{orderdetail.product.name}} + </td>
			<td>{{orderdetail.price.price}} + </td>
			{% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
