<header id="" class="app-sub-banner container">

	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">

	      <!-- Everything you want hidden at 940px or less, place within here -->
	      <div class="nav-collapse">
	        <nav>
	        	<ul class="nav">

					<li class="subnav-icon-links">
	        			<a href="{{ path('outils_index') }}">
	        				<img src="{{ asset('bundles/piggyboxshop/img/list.png')}}" alt="">
	        				<div style="">Rapport</div>
	        			</a>
	        		</li>

	        		<li class="divider-vertical"></li>
	        	</ul>
{#
	        	<form class="navbar-search pull-right">
				  <input type="text" class="search-query" placeholder="Rechercher un client">
				</form>
#}
	        	<ul class="nav pull-right">
	        		<li class="divider-vertical"></li>
	        		<li class="subnav-icon-links">
	        			<a href="{{ path('user_show_shop', {'shop_slug': app.user.ownshop.slug }) }}">
	        				<img src="{{ asset('bundles/piggyboxshop/img/home-button.png')}}" alt="">
	        				<div style="">Retour au site</div>
	        			</a>
	        		</li>
	        	</ul>

	        </nav>
	      </div>

	    </div>
	  </div>
	</div>

</header>
