{% extends 'FOSUserBundle::layout.html.twig' %}


{% block content %}


<div class="container">
    <div class="row">

        <div id="content" class="span6 offset3">

        	<h1 class="text-centered">Page non trouvée</h1>

			<h2 class="text-centered">La page recherchée n'existe pas</h2>
			<br>
			<p>Pas d'inquiétude vous pouvez retourner à la page d'accueil ou bien rechercher un commerce</p>
			<ul>
				<li><a href="/">Accueil du site internet</a></li>
				<li><a href="/">Les commerçants</a></li>
			</ul>

        </div>

    </div>
</div>




{% endblock %}