@import "bootstrap.less";
@import "responsive.less";



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@userInfoHeight: 300px;
@userInfoPadding: 16px;

.red {
	background: red;
}

header#header {
	height: 150px;
	background:url(../img/head.jpg);
	border-bottom:solid 8px;
	box-shadow: 1px 1px 12px #555;
}
#content {
	min-height: 1px;
}
#photo-slider,
#entry-container,
#shop-infos {
	margin-top: 36px;
}

.nav nav-pills pull-right{background: red;}

#user-cart {
	margin-top: 56px;
}

	#entry-nav ul.nav {
		margin-bottom: 0;
	}
	#entry-content {
		padding: 26px 10px;
		border-right: 1px solid @grayBorder;
		border-bottom: 1px solid @grayBorder;
		border-left: 1px solid @grayBorder;
	}
#sidebar {
	height: 100%;
	min-height: 1px;
}
	#sidebar-content {
	}
	
	#shop-infos {
		height: @userInfoHeight - 2 * @userInfoPadding;
		padding: @userInfoPadding;
		background: @grayBorder;
		h1 {
			font-size: 28px;
			text-align: justify;
		}
	}
	#user-cart {
		background: @grayBorder;
	}

footer#footer {
	height: 170px;
	bottom: 0;
	background:url(../img/head.jpg) repeat-x;
	border-top:solid 8px;
	box-shadow: 1px 1px 12px #555;
}