//
// Utility classes
// --------------------------------------------------


// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.clear {
	clear: both;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}

// For Affix plugin
.affix {
  position: fixed;
}


.no-margin {
	margin: 0;
	padding: 0;
}
.bottom-marged {
  margin-bottom: 36px;
}
.box-centered,
.centered {
  clear: both;
  margin: 0 auto;
}
.text-centered {
	text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}