{% extends 'FOSUserBundle::layout.html.twig' %}

{% block title %}
<title>Côtelettes & Tarte aux Fraises - Mon compte</title>
{% endblock %}

{% block content %}
<div class="container registration" >
    <div class="row">

        <div id="content" class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav" data-spy="affix" data-offset-top="200">
                <li><i class="icon-chevron-right"></i><a href="#details">Mes coordonnées</a></li>
                
                {% if not is_granted('ROLE_FACEBOOK') %}
                <li><i class="icon-chevron-right"></i><a href="#password">Mon mot de passe</a></li>
                {% endif %}
             </ul>
        </div>

        <div id="content" class="span9">
            <section id="details" data-offset-top="200">
                <h1 class="text-centered">Mes coordonnées</h1>
                <br/>
                <p class="text-small">Vous pouvez modifier ci-dessous les données personnelles de votre compte utilisateur :</p>
                {% render 'FOSUserBundle:Profile:edit' %}
            </section>

            {% if not is_granted('ROLE_FACEBOOK') %}
            <section id="password" data-offset-top="200">
                <h1 class="text-centered">Mon mot de passe</h2>
                <br/>
                <p class="text-small">Pour procéder au changement de votre mot de passe, veuillez entrer les informations suivantes :</p>
                {% render 'FOSUserBundle:ChangePassword:changePassword' %}
            </section>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}

{% block javascript %}
{{ parent() }}
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
        <script type="text/javascript">

        var input = document.getElementById('fos_user_profile_form_city');
        var options = {
          types: ['(cities)'],
          componentRestrictions: {country: 'fr'}
        };

        autocomplete = new google.maps.places.Autocomplete(input, options);
        </script>

{% endblock %}
