{% extends 'FOSUserBundle::layout.html.twig' %}


{% block content %}


<div class="container">
    <div class="row">

        <div id="content" class="span8 offset2">

        	<h1 class="text-centered">A propos de vous <small>Votre profil</small></h1>

        	<p>Peu d'informations sont configurables aujourd'hui mais vous pourrez détailler votre profil bientôt.</p>

			<div class="fos_user_user_show">
				<table class="table table-bordered table-striped">
					<tr>
						<th colspan="2">Vos informations</th>
					</tr>
					<tr>
						<td>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}</td>
						<td>{{ user.username }}</td>
					</tr>
					<tr>
						<td>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</td>
						<td>{{ user.email }}</td>
					</tr>
				</table>
			</div>

			<h1 class="text-centered">Modifier votre profil</h1>

			{% render 'FOSUserBundle:Profile:edit' %}

			<h1 class="text-centered">Changer votre mot de passe</h2>

			{% render 'FOSUserBundle:ChangePassword:changePassword' %}

        </div>

    </div>
</div>




{% endblock %}