@import "bootstrap.less";
@import "responsive.less";



/* ORDER */

.order-price {
    font-size: @baseFontSize * 1.6;
    line-height: @baseLineHeight * 1.4;
}

.coming-soon-app {
	z-index: 999;
	position: absolute;
	width: 64px;
	height: 64px;
	margin-top: -3px;
	margin-left: -5px;
	background: url('../img/coming-soon-app.png');
}

.img240x240 {
	width: 240px;
	height: 240px;
	background: url('../img/240x240.png');
}
.img160x160 {
	width: 160px;
	height: 160px;
	background: url('../img/160x160.png');
}

.price-img {
	float: left;
	width: 48px;
	height: 48px;
}
.box-error .price-img {
	background: url('../img/cross.png');
}
.box-success .price-img {
	background: url('../img/tick.png');
}

