@charset "utf-8";
/* CSS Document */

#ongletcontain{position:relative; margin-top: 50px; float: right; margin-right: 10%; display:block; width: 700px; list-style-type : none;}

#ongletcontain li{display: inline; padding: 8px; margin-left: 15px; font-size:25px; font-family:'Vollkorn', serif; color: #bad3b4; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; text-shadow: 2px 2px 3px #555;  -webkit-transition: all .1s ease-in; -moz-transition: all .1s ease-in;-o-transition: all .1s ease-in;transition: all .1s ease-in;}

#ongletcontain li:hover{color: #e7f2e4; text-decoration:none; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; text-shadow: 2px 2px 3px #555;}	

#ongletcontain li a{text-decoration:none;}

#ongletcontain li a:hover{text-decoration:none;}

.box{border: #5fd938 solid 2px;}

.carouselimg{width:100%}

.carousel-caption{border:solid 1px;}

.carousel-caption h4{font-family: 'Vollkorn', serif; font-size:25px; color:#FF9;}

body{background: #fffcc;}