# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/media/*
bin
composer.phar

# Configuration files
app/config/parameters.ini

# Vim files
*.swp
