# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/media/*
bin
composer.phar
comploser.lock

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Vim files
*.swp
