# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/adminer-3.6.1-mysql.php
web/adminer-3.7.0-mysql.php
web/adminer-3.6.4-mysql.php
web/adminer.php
web/media/*
web/.htaccess
bin
composer.phar

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
.vagrant

# Vim files
*.swp
*.DS_Store

# Misc
composer.lock

.codemod.bookmark
--help
codemod.py
tags
php-cs-fixer.phar
appsessions
