<div id="content" class="">

    <section id="shopping-cart-progess-bar" class="clearfix">

        <div id="" class="container cart-progress">
            <div class="row">
                <div class="span10 offset1 text-centered">

                    <div class="cart-progress-item ">
                        <div class="step-number"><span>1</span></div>
                        Commande
                    </div>
                    <div class="cart-progress-item ">
                        <div class="step-number"><span>2</span></div>
                        Date & Heure
                    </div>
                    <div class="cart-progress-item ">
                        <div class="step-number"><span>3</span></div>
                        Identification
                    </div>
                    <div class="cart-progress-item current">
                        <div class="step-number"><span>4</span></div>
                        Paiement
                    </div>
                    <div class="cart-progress-item muted">
                        <div class="step-number"><span>5</span></div>
                        Confirmation
                    </div>
                </div>
            </div>
        </div>

    </section>

    <div class="container">
        <div class="row bottom-marged">
            <div class="span12">
                <h1 class="text-centered">Choisissez votre moyen de paiement</h1>
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <h2>Payez en boutique</h2>

                <form action="">
                    <label for="" class="radio">
                        <input type="radio" value="" checked>
                        Payer ma commande en magasin
                    </label>
                </form>
            </div>
            <div class="span8">
                <div class="row-fluid" style="border-left: 2px solid #999;">
                    <div class="span1"></div>
                    <div class="span11">
                        <h2>Payer en ligne</h2>

                        <div>
							<form action="{{ path('payment_details') }}" method="post">
						        {{ form_widget(form) }}
						        <input type="submit" />
							</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="toolbar">
                <div class="span6">
                    <a href="#" class="btn btn-small"><i class="icon-arrow-left"></i> Retour à l'étape précédente</a>
                </div>
                <div class="span6 text-right">
                    <a href="{{ path('confirm_order') }}" class="btn btn-xlarge btn-primary">
                        <i class="icon-ok icon-white"></i> Confirmez votre commande
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>
