{% extends 'PiggyBoxShopBundle::layout.html.twig'%}

{% form_theme form _self %}

{% block body%}

{% include 'PiggyBoxShopBundle:Menu:menu_sub_header.html.twig' %}

<div id="main">
	<div id="primary" class="site-content container">


	<div class="page-header">
		<h1>Nouvelle Formule</h1>
	</div>

		<form action="{{ path('piggybox_menu_create') }}" method="post" {{ form_enctype(form) }}>
			{{ form_widget(form) }}
			<p>
				<button type="submit">Create</button>
			</p>
		</form>

		<ul class="record_actions">
			<li>
				<a href="{{ path('piggybox_menu_list') }}">
					Back to the list
				</a>
			</li>
		</ul>

    </div>
</div>
{% endblock %}
