{% extends 'PiggyBoxUserBundle::layout.html.twig' %}

{% block content %}

        <div class="container">
            <div class="row">

            	<div id="content" class="span12">

	            	<h1>Qui sommes-nous ? <small>Présentation de notre équipe</small></h1>

	            	<p>text goes here</p>

            	</div>

	        </div>
	    </div>

 {% endblock %}

