{% extends 'PiggyBoxUserBundle::layout.html.twig' %}

{% block content %}


    <div class="container text-centered hidden-phone hidden-tablet">
        <div class="row bottom-marged">
            <div class="span12">
                <div class="step-item"><img src="{{ asset('bundles/piggyboxuser/img/etape1.png')}}" alt=""></div>
                <div class="step-item"><img src="{{ asset('bundles/piggyboxuser/img/etape2.png')}}" alt=""></div>
                <div class="step-item"><img src="{{ asset('bundles/piggyboxuser/img/etape3.png')}}" alt=""></div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="span10 offset1">

                <div id="entry-nav" class="bottom-marged">
                    <ul class="nav nav-tabs">
                        <li class="active"><a  href="#faq" data-toggle="tab">Foire aux Questions</a></li>
                        <li><a  href="#charte" data-toggle="tab">Notre Charte Qualité</a></li>
                    </ul>
                </div>

                <div class="tab-content">

                    <div class="tab-pane active" id="faq">
                        {% include 'PiggyBoxUserBundle:User:tab-faq.html.twig' %}
                    </div>

                    <div class="tab-pane" id="charte">
                        {% include 'PiggyBoxUserBundle:User:tab-charte.html.twig' %}
                    </div>

                </div>

            </div>
        </div>
    </div>



{% endblock %}

{% block javascript%}
{{ parent() }}
<script type="text/javascript">
   _kmq.push(['record', 'Viewed Comment ça marche/Nos engagements']);
</script>
{% endblock %}
