

<div class="slider-wrapper theme-default">
    <div id="slider" class="nivoSlider">
        <a href="">
        	<img src="{{ asset('bundles/piggyboxuser/img/home-slider/slider_1.jpg')}}" alt="" title="#htmlcaption-1" />
        </a>
        <a href="">
        	<img src="{{ asset('bundles/piggyboxuser/img/home-slider/slider_2.jpg')}}" alt="" title="#htmlcaption-2" />
        </a>
        <a href="">
        	<img src="{{ asset('bundles/piggyboxuser/img/home-slider/slider_3.jpg')}}" alt="" title="#htmlcaption-3" />
        </a>
        <a href="">
        	<img src="{{ asset('bundles/piggyboxuser/img/home-slider/slider_4.jpg')}}" alt="" title="#htmlcaption-4" />
        </a>
    </div>
</div>

<div id="htmlcaption-1" class="nivo-html-caption">
    <ol>
    	<li>Commandez en ligne</li>
    	<li>Venez chercher</li>
    	<li>Savourez</li>
    </ol>
</div>
<div id="htmlcaption-2" class="nivo-html-caption">
    Votre <em>formule midi</em> prête à emporter
</div>
<div id="htmlcaption-3" class="nivo-html-caption">
    
</div>
<div id="htmlcaption-4" class="nivo-html-caption">
    <ol>
    	<li>Commandez en ligne</li>
    	<li>Venez chercher</li>
    	<li>Savourez</li>
    </ol>
</div>