

<div class="slider-wrapper theme-bar">
    <div id="slider" class="nivoSlider">
        <a href="">
        	<img src="{{ asset('bundles/piggyboxuser/img/home-slider/slider_1.jpg')}}" alt="" title="#htmlcaption-1" />
        </a>
        <a href="">
        	<img src="{{ asset('bundles/piggyboxuser/img/home-slider/slider_2.jpg')}}" alt="" title="#htmlcaption-2" />
        </a>
        <a href="">
        	<img src="{{ asset('bundles/piggyboxuser/img/home-slider/slider_3.jpg')}}" alt="" title="#htmlcaption-3" />
        </a>
        <a href="">
        	<img src="{{ asset('bundles/piggyboxuser/img/home-slider/slider_4.jpg')}}" alt="" title="#htmlcaption-4" />
        </a>
    </div>
</div>

<div id="htmlcaption-1" class="nivo-html-caption">
    Commandez en ligne, Venez chercher, Savourez
</div>

<div id="htmlcaption-2" class="nivo-html-caption">
    Toute la qualité des commerces de tradition sans faire la queue !
</div>

<div id="htmlcaption-3" class="nivo-html-caption">
    Votre <em>formule déjeuner</em> prête à emporter. Fini la file d'attente à midi.
</div>

<div id="htmlcaption-4" class="nivo-html-caption">
    Des promotions exclusives
</div>