{% extends 'PiggyBoxUserBundle::layout.html.twig' %}

{% block content %}

        <div class="container">
            <div class="row">

            	<div id="content" class="span12">

	            	<h1>Mentions légales</h1>

	            	<h3>Société</h3>

	            	<p>Le site "Cotelettes & Tarte aux fraises" (Marque déposée) est édité par:</p>
	            	<h4 class="no-margin">The Box Makers SAS <small>Société en cours d'immatriculation</small></h4>
	            	<address class="no-margin">16 impasse du stade Raymond Durand 44120 Vertou</address>
	            	<ul class="unstyled">
	            		<li><abbr title="Telephone">Tel:</abbr>02 40 37 46 67</li>
	            		<li><a href="http://theboxmake.rs">http://theboxmake.rs</a></li>
	            		<li><a href="mailto:team@theboxmake.rs">team@theboxmake.rs</a></li>
	            	</ul>



	            	<h3>Hébergement</h3>

	            	<p>
	            		Le site est hébergé chez OVH, <br>
						140 Quai du Sartel, 59100 Roubaix (Tél : 0899 701 761). 
					</p>	
            	</div>

	        </div>
	    </div>

 {% endblock %}

