{% extends 'PiggyBoxUserBundle::layout.html.twig' %}

{% block content %}

        <div class="container">
            <div class="row">

            	<div id="content" class="span12">

	            	<h1>Mentions légales</h1>

	            	
					<h3>
					    THE BOX MAKERS <small>Soci&#233;t&#233; par actions simplifi&#233;e au capital de 10 000 euros</small>
					</h3>
					<p>
					    <i class="icon-heart"></i> Nom commercial : C&#244;telettes et Tarte aux Fraises (Marque déposée)
					</p>
					
					<address class="no-margin"> <i class="icon-home"></i> 16 impasse du stade Raymond Durand 44120 Vertou</address>

					<br />

	            	<ul class="unstyled">
	            		<li> <i class="icon-signal"></i> <abbr title="Telephone">Tel:</abbr>02 40 37 46 67</li>
	            		<li> <i class="icon-envelope"></i> Adresse électronique : <a  href="mailto:team@theboxmake.rs">team@theboxmake.rs</a></li>
	            		<li> <i class="icon-globe"></i> <a href="http://theboxmake.rs">http://theboxmake.rs</a></li>
	            	</ul>
	            	
	            	<ul class="unstyled">
	            		<li> <i class="icon-book"></i> SIRET: 78906613100010</li>
	            		<li> <i class="icon-book"></i> N&#176; de TVA Intracommunautaire: FR26789066131</li>
	            		<li> <i class="icon-book"></i> RCS de Nantes 789 066 131</li>
	            	</ul>

					<ul class="unstyled">
					    <li><i class="icon-user"></i> Le directeur de la publication est Monsieur Baptiste DUPUCH</li>
					</ul>
					<br />

					<p>
					    Le site Internet www.cotelettes-tarteauxfraises.com est h&#233;berg&#233; par la soci&#233;t&#233;<strong> </strong><strong>OVH.</strong> N&#176; de t&#233;l&#233;phone : 0 820 698 765 [<a href="http://www.ovh.com/fr/support/">n&#176; indigo (0,118 &#8364;/min)] </a>
					</p>
					<p>
					    Le site Internet www.cotelettes-tarteauxfraises.com (le Site) est la propri&#233;t&#233; exclusive de la Soci&#233;t&#233; THE BOX MAKERS. Il a
					    &#233;t&#233; con&#231;u et r&#233;alis&#233; par THE BOX MAKERS.
					</p>
					<p>
					    La consultation du Site est subordonn&#233;e &#224; l&#8217;acceptation int&#233;grale et au respect par les internautes, des conditions
					    d&#8217;utilisation suivantes.
					</p>
					<p>
					    L&#8217;internaute s&#8217;engage d&#8217;ores et d&#233;j&#224; &#224; faire des informations contenues sur le Site un usage personnel et non commercial.
					    En cas de non-respect des dispositions de la pr&#233;sente Charte, par l&#8217;internaute, sa responsabilit&#233; civile et/ou p&#233;nale pourrai(en)t se
					    voir engag&#233;e(s).
					</p>
					<h3>
					    1 &#8211; Contenu du Site
					</h3>
					<p>
					    Le Site est exploit&#233; par la Soci&#233;t&#233; THE BOX MAKERS.
					</p>
					<p>
					    Il pr&#233;sente aux internautes une place de march&#233; sur laquelle des commer&#231;ants habilit&#233;s par la soci&#233;t&#233; THE BOX MAKERS
					    pr&#233;sentent leurs offres. Les diff&#233;rents produits sont propos&#233;s &#224; la vente aux internautes.
					</p>
					<p>
					    La pr&#233;sentation sur le Site des produits r&#233;alis&#233;s par la Soci&#233;t&#233; THE BOX MAKERS constitue une offre de contracter.
					</p>
					<h3>
					    2 - Propri&#233;t&#233; Intellectuelle
					</h3>
					<p>
					    Le Site constitue une &#339;uvre dont la Soci&#233;t&#233; THE BOX MAKERS est l&#8217;auteur au sens des articles L111.1 et suivants du Code de
					    propri&#233;t&#233; intellectuelle.
					</p>
					<p>
					    &#171; C&#244;telettes et tarte aux fraises &#187; est une marque enregistr&#233;e sous le num&#233;ro 3951123 et pour les classes35, 38 et 42.
					</p>
					<p>
					    Il est rappel&#233; que les photographies et/ou les textes pr&#233;sents sur le Site sont consid&#233;r&#233;es comme des &#339;uvres de l&#8217;esprit
					    b&#233;n&#233;ficiant de la protection au titre du droit d&#8217;auteur. Toute utilisation non autoris&#233;e de l&#8217;une ou l&#8217;autre des
					    photographies est constitutif d&#8217;un acte de contrefa&#231;on comme le pr&#233;voit l&#8217;article L335-3 du Code de la propri&#233;t&#233;
					    intellectuelle
					</p>
					<p>
					    De mani&#232;re g&#233;n&#233;rale, les donn&#233;es, les programmes, les &#233;chantillons musicaux, les textes, les informations, les logos, les
					    identit&#233;s visuelles, les images anim&#233;es ou non et leurs mises en forme apparaissant sur le Site sont la propri&#233;t&#233; de la
					    Soci&#233;t&#233; THE BOX MAKERS et sont prot&#233;g&#233;es &#224; ce titre par les dispositions du Code de la propri&#233;t&#233; intellectuelle.
					</p>
					<p>
					    Tout internaute s&#8217;engage &#224; ne pas les utiliser et &#224; ne permettre &#224; quiconque d&#8217;utiliser ces contenus &#224; des fins
					    ill&#233;gales.
					</p>
					<p>
					    Toute repr&#233;sentation ou reproduction, totale ou partielle, permanente ou temporaire, sur un support informatique et/ou papier, et par quelque
					    proc&#233;d&#233; que ce soit (notamment par voie de framing*), de l&#8217;un ou l&#8217;autre des &#233;l&#233;ments du Site, sans l&#8217;accord
					    pr&#233;alable et expr&#232;s de la Soci&#233;t&#233; THE BOX MAKERS est interdite, et constitue un acte de contrefa&#231;on, qui pourra entra&#238;ner des
					    condamnations civiles et/ou p&#233;nales. Seule l&#8217;impression papier est autoris&#233;e aux fins de copie priv&#233;e &#224; l&#8217;usage exclusif du
					    copiste au sens de l&#8217;article L122-5 2&#176; du Code de propri&#233;t&#233; intellectuelle.
					</p>
					<p>
					    Aucun lien hypertexte vers le Site ne peut &#234;tre install&#233; sans l&#8217;accord pr&#233;alable et expr&#232;s de la Soci&#233;t&#233; THE BOX
					    MAKERS.
					</p>
					<p>
					    *action de capter le contenu de pages d&#8217;un site Internet pour le transf&#233;rer sur son propre site Internet par le biais d'un lien hypertexte, en
					    faisant appara&#238;tre ledit contenu comme le sien.
					</p>
					<h3>
					    3 - Protection des donn&#233;es personnelles
					</h3>
					<p>
					    L&#8217;internaute peut &#234;tre amen&#233; &#224; d&#233;poser certaines donn&#233;es personnelles en r&#233;pondant aux formulaires qui lui sont
					    propos&#233;s. La saisie de ces donn&#233;es est n&#233;cessaire au traitement de la demande de l&#8217;internaute, par la Soci&#233;t&#233; THE BOX
					    MAKERS.
					</p>
					<p>
					    La Soci&#233;t&#233; THE BOX MAKERS s&#8217;engage &#224; respecter les dispositions de la loi n&#176;78-17 du 6 janvier 1978 relative &#224;
					    l&#8217;informatique, aux fichiers et aux libert&#233;s modifi&#233;e et prendre toute pr&#233;caution n&#233;cessaire pour pr&#233;server la
					    s&#233;curit&#233; des informations nominatives confi&#233;es. Aucune information &#224; caract&#232;re personnel ne sera communiqu&#233;e &#224; des
					    soci&#233;t&#233;s tierces sans l&#8217;accord pr&#233;alable et &#233;clair&#233; de l&#8217;internaute.
					</p>
					<p>
					    L&#8217;internaute peut &#224; tout moment exercer son droit d&#8217;acc&#232;s, de rectification, de suppression ou d&#8217;opposition concernant les
					    informations qu&#8217;il fournit lors de son inscription ou ult&#233;rieurement, aupr&#232;s de la Soci&#233;t&#233; THE BOX MAKERS, par courrier &#224; :
					    la Soci&#233;t&#233; THE BOX MAKERS - 16 Impasse du Stade Raymond Durand
					    <br/>
					    - 44120 VERTOU ou par email<strong> </strong>team@theboxmake.rs
					</p>
					<h3>
					    4 - Les Cookies
					</h3>
					<p>
					    <strong></strong>
					</p>
					<p>
					    La Soci&#233;t&#233; THE BOX MAKERS peut utiliser des cookies. Un cookie ne permet pas d&#8217;identifier l&#8217;Internaute. Il cr&#233;e simplement un
					    num&#233;ro al&#233;atoire qui enregistre des informations relatives &#224; la navigation de l&#8217;ordinateur sur le Site et les contrats souscrits par
					    l&#8217;Internaute. La dur&#233;e de conservation de ces informations est en principe de la dur&#233;e de la session sauf si l&#8217;internaute coche la
					    case "Se souvenir de moi" alors la dur&#233;e de conservation du cookie est perp&#233;tuel &#224; compter de la date de la derni&#232;re connexion
					    utilisateur r&#233;ussie.
					</p>
					<p>
					    Les cookies impl&#233;ment&#233;s ont pour finalit&#233; de faciliter la communication par voie &#233;lectronique. Ils sont strictement n&#233;cessaires
					    &#224; la fourniture d&#8217;un service de communication en ligne. D&#232;s lors il n&#8217;est pas indispensable d&#8217;obtenir le consentement
					    pr&#233;alable de l&#8217;internaute avant son impl&#233;mentation.
					</p>
					<p>
					    L&#8217;Internaute peut n&#233;anmoins s&#8217;opposer &#224; l'enregistrement de "cookies" en configurant le navigateur selon la proc&#233;dure
					    d&#233;crite ci-apr&#232;s.
					</p>
					<h3>
					    5 - Responsabilit&#233;
					</h3>
					<p>
					    La Soci&#233;t&#233; THE BOX MAKERS d&#233;cline toute responsabilit&#233; quant aux &#233;ventuels dysfonctionnements pouvant survenir sur le Site et
					    entra&#238;ner une perte de donn&#233;es ou une indisponibilit&#233; de l&#8217;acc&#232;s aux informations produites sur celui-ci.
					</p>
					<p>
					    Les &#233;l&#233;ments pr&#233;sent&#233;s sur le Site sont susceptibles de modification sans pr&#233;avis et sont mis &#224; la disposition des
					    internautes, sans aucune garantie d&#8217;aucune sorte, expresse ou tacite.
					</p>
					<p>
					    La pr&#233;sence de liens hypertextes pr&#233;sents sur le Site &#8211; quelque soit l&#8217;existence pr&#233;alable ou non de l&#8217;accord de La
					    Soci&#233;t&#233; THE BOX MAKERS ne cr&#233;e pas une solidarit&#233; de responsabilit&#233; entre celle-ci et les propri&#233;taires des autres sites,
					    quant au contenu des sites sur lesquels est redirig&#233; l&#8217;internaute.
					</p>
					<p>
					    La Soci&#233;t&#233; THE BOX MAKERS ne peut garantir l&#8217;exhaustivit&#233; et la v&#233;racit&#233; des informations pr&#233;sentes sur le Site. De la
					    m&#234;me mani&#232;re, elle ne peut garantir l&#8217;absence de modification par un tiers (intrusion, virus).
					</p>
					<p>
					    En outre, l&#8217;internaute est seul responsable de l&#8217;utilisation qu&#8217;il fait du contenu du Site. Sauf faute grave exclusive de la
					    Soci&#233;t&#233; THE BOX MAKERS, sa responsabilit&#233; ne peut &#234;tre engag&#233;e pour des dommages directs et indirects li&#233;s &#224;
					    l&#8217;utilisation des informations produites sur le Site.
					</p>
					<h3>
					    6 - Loi applicable et Comp&#233;tence judiciaire
					</h3>
					<p>
					    L&#8217;ensemble des informations diffus&#233; sur le Site et l&#8217;utilisation qui en est faite sont soumis exclusivement au droit fran&#231;ais. Seuls
					    les tribunaux relevant du ressort de la Cour d&#8217;appel de Rennes sont comp&#233;tents pour conna&#238;tre des &#233;ventuels litiges li&#233;s &#224;
					    l&#8217;utilisation du Site.
					</p>

					<br />
					
					<p>
					    <i class="icon-pencil"></i> <em>Mise &#224; jour le 5 mars 2013</em>
					</p>
            	</div>

	        </div>
	    </div>

 {% endblock %}

{% block javascript %}
{{ parent() }}
<script type="text/javascript">
   _kmq.push(['record', 'Viewed Mentions légales Page']);
</script>
{% endblock %}
