{% extends 'PiggyBoxUserBundle::layout.html.twig' %}

{% block content %}

        <div class="container">
            <div class="row">

            	<div id="content" class="span12">

	            	<h1>Mentions légales</h1>

	            	<h3>Société <small>THE BOX MAKERS SAS</small> </h3>

	            	<p>Le site "Cotelettes & Tarte aux fraises" (Marque déposée) est édité par:</p>
	            	<h4 class="no-margin">The Box Makers SAS</h4>
	            	<address class="no-margin"> <i class="icon-home"></i> 16 impasse du stade Raymond Durand 44120 Vertou</address>
	            	<ul class="unstyled">
	            		<li> <i class="icon-user"></i> <abbr title="Telephone">Tel:</abbr>02 40 37 46 67</li>
	            		<li> <i class="icon-envelope"></i> <a href="mailto:team@theboxmake.rs">team@theboxmake.rs</a></li>
	            		<li> <i class="icon-globe"></i> <a href="http://theboxmake.rs">http://theboxmake.rs</a></li>
	            	</ul>
	            	<br>
	            	<ul class="unstyled">
	            		<li> <i class="icon-book"></i> SIRET 78906613100010</li>
	            		<li> <i class="icon-book"></i> Code NAF 4791B</li>
	            		<li> <i class="icon-book"></i> RCS de Nantes 789 066 131</li>
	            	</ul>



	            	<h3>Hébergement</h3>

	            	<p>
	            		Le site est hébergé chez OVH, <br>
						140 Quai du Sartel, 59100 Roubaix (Tél : 0899 701 761).
					</p>
            	</div>

	        </div>
	    </div>

 {% endblock %}
