{% extends 'PiggyBoxUserBundle::layout.html.twig' %}

{% block content %}

        <div class="container">
            <div class="row">

                <div id="content" class="span8">
                    
                    <div id="photo-slider">
                        <div id="shopCarousel" class="carousel slide">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="active item">
									<img src="{{ asset('bundles/piggyboxuser/img/carousel/boutique.jpg')}}" alt="">
                                    <div class="carousel-caption">
                                    <h4>Boucherie de Zola</h4>
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="{{ asset('bundles/piggyboxuser/img/carousel/boutique-2.jpg')}}" alt="">
                                    <div class="carousel-caption">
                                    <h4>Boucherie de Zola</h4>
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida.</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="{{ asset('bundles/piggyboxuser/img/carousel/boutique-3.jpg')}}" alt="">
                                    <div class="carousel-caption">
                                    <h4>Boucherie de Zola</h4>
                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida.</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Carousel nav -->
                            <a class="carousel-control left" href="#shopCarousel" data-slide="prev">&lsaquo;</a>
                            <a class="carousel-control right" href="#shopCarousel" data-slide="next">&rsaquo;</a>
                        </div>
                    </div>

                    <div id="entry-container">
                        <div id="entry-nav">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#fiche" data-toggle="tab">Fiche</a>
                                </li>
                                <li><a href="#shop" data-toggle="tab">Produits a commander</a></li>
                                <li><a href="#infos" data-toggle="tab">Informations pratiques</a></li>
                                <li class="disabled"><a data-toggle="">Avis</a></li>
                                <li><a href="#photos" data-toggle="tab">Photos</a></li>
                            </ul> 
                        </div>

                        <div id="entry-content" class="tab-content">
                            <div id="fiche" class="tab-pane active">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec venenatis sodales molestie. Cras vel lacus et felis consectetur feugiat. Etiam a elit urna. Pellentesque ipsum neque, consequat molestie dignissim et, suscipit at est. Praesent aliquam ipsum ut libero tristique sit amet euismod mi porttitor. Nam eu diam nisl. Donec ut diam a sapien gravida venenatis. Etiam ullamcorper lobortis ante sed interdum. In varius felis a erat lobortis vel vestibulum nisl rutrum.<br><br>Nam id sem est. Proin venenatis, mi quis feugiat semper, augue sapien lacinia ligula, a ullamcorper nisl felis at justo. Nunc id orci non nunc volutpat luctus. Donec orci lorem, rutrum vel auctor in, porttitor vitae ante. Nunc ut aliquam magna. Suspendisse sit amet felis quis mi vulputate varius. Mauris tincidunt dapibus sem, quis posuere eros ultricies at. Donec leo justo, iaculis vitae gravida non, aliquet eget ipsum. In accumsan fringilla tincidunt.</p>
                            </div>
                            <div id="shop" class="tab-pane">
								{% include 'PiggyBoxUserBundle:User:tab-products.html.twig' with {'products': products} %}
                            </div>
                            <div id="infos" class="tab-pane">
                                <?php include 'tab-infos.php'; ?>
                            </div>
                            <div id="photos" class="tab-pane">
                                <?php include 'tab-photos.php'; ?></div>
                        </div>


                    </div>

                </div>
      

			{% include 'PiggyBoxUserBundle:User:tab-sidebar.html.twig' with {'shop': shop} %}


            </div><!-- /row -->
        </div> <!-- /container -->


{% endblock %}
