<div id="photo-slider">
    <div id="shopCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">

            {% for count in range(0, 10) %}
                <div class="item {% if count == 1 %}active{%endif%}">
                    {% set path = "bundles/piggyboxuser/img/shops/" ~ shop.slug ~ "/slider-photos/" ~  shop.slug ~ "-" ~ count ~ ".jpg" %}
                    <img src="{{ asset(path) }}" alt="">
                </div>
            {% endfor %}
            

        </div>

        <!-- Carousel nav -->
        <a class="carousel-control left" href="#shopCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#shopCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>


{#
{% if (shop.slug == 'boucherie-zola') %}


<div class="ribbon2" style="margin: 65px 0 32px 136px">
<strong class="ribbon2-content">Fermé pour congés. Réouverture le Mardi 14 Mai à 8:30</strong>
</div>


{% endif %}
#}
