
<div id="shop-infos" class="">

    {% if (shop.slug == 'boucherie-zola') %}
    <h1 class="">Boucherie de Zola</h1>

    <div id="shop-details" class="row-fluid">

        <div class="span12">
            <p>
                <i class="icon-user"></i> 02.40.46.50.42 <br />
                <i class="icon-envelope"></i> zola@boucherdefrance.fr<br />
                <i class="icon-home"></i> 6 place Emile Zola 44100 Nantes
            </p>
            <p>
                <i class="icon-time"></i> Le Mardi, Mercredi, Vendredi, Samedi <br />
                <i class="icon-"></i> 8:30 - 13:30 & 15:30 - 19:30 <br />
                <i class="icon-"></i> Le jeudi matin <br />
                <i class="icon-"></i> 8:30 - 13:15 <br />
                <i class="icon-"></i> Le dimanche matin <br />
                <i class="icon-"></i> 8:30 - 13:00
            </p>


        </div>


    </div>

    {% elseif (shop.slug == 'boucherie-des-gourmets') %}
    <h1 class="">Boucherie des Gourmets</h1>

    <div id="shop-details" class="row-fluid">

        <div class="span12">
            <p>
                <i class="icon-user"></i> 02.40.40.85.68 <br />
                <i class="icon-envelope"></i> boucherie.jauneau@hotmail.fr <br />
                <i class="icon-home"></i> 136 rue des hauts pavés 44000 Nantes
            </p>
            <p>
                <i class="icon-time"></i> Du Mardi au Samedi <br />
                <i class="icon-"></i> 8:00 - 13:00 & 15:00 - 19:30 <br />
            </p>


        </div>


    </div>


    {% elseif (shop.slug == 'boucherie-copernic') %}
    <h1 class="">Boucherie Copernic</h1>

    <div id="shop-details" class="row-fluid">

        <div class="span12">
            <p>
                <i class="icon-user"></i> 02.40.40.85.68 <br />
                <i class="icon-envelope"></i> boucherie.copernic@orange.fr <br />
                <i class="icon-home"></i> 1 Rue Copernic 44000 Nantes
            </p>
            <p>
                <i class="icon-time"></i> Lundi <br />
                <i class="icon-"></i> 8:30 - 13:00 & 16:30 - 19:30 <br />
                <i class="icon-time"></i> Du Mardi au Samedi <br />
                <i class="icon-"></i> 8:30 - 13:00 & 15:30 - 19:30 <br />
            </p>


        </div>


    </div>


    {% elseif (shop.slug == 'le-boulanger-de-zola') %}
    <h1 class="">Le Boulanger de Zola</h1>

    <div id="shop-details" class="row-fluid">

        <div class="span12">
            <p>
                <i class="icon-user"></i> 02.40.46.44.39 <br />
                <i class="icon-envelope"></i> leboulangerdezola@free.fr<br />
                <i class="icon-home"></i> 6 place Emile Zola 44100 Nantes
            </p>
            <p>
                <i class="icon-time"></i> Du Mardi au Samedi <br />
                <i class="icon-"></i> 07:30 - 20:00 <em>Sans Interruption</em><br />
                <i class="icon-"></i> Le dimanche matin <br />
                <i class="icon-"></i> 07:30 - 14:00
            </p>


        </div>


    </div>

    {% endif %}

</div>
