<ul id="category_tree" class="nav nav-list">
	<li id="tous" class="category-item tous"><a onclick="_gaq.push(["_trackEvent", "User", "tab-categories_shop-slug-tous"]);" href="{{ path('user_show_shop',{shop_slug: shop.slug})}}">Tous</a></li>
	{{shop.categoryhtml|raw}}
</ul>
