
{% for count in range(0, 10) %}
	{#  TODO AJOUTER IF FILE EXIST #}
	<div class="">
		{% set path = "bundles/piggyboxuser/img/shops/" ~ shop.slug ~ "/photos/" ~  shop.slug ~ "-" ~ count ~ ".jpg" %}
		<img src="{{ asset(path) }}" alt="">
		<hr />
	</div>
{% endfor %}
