
<h2>Boucherie de Zola - Nantes</h2>

<div class="row-fluid">

	<div class="span6">
		<h3>Boucher depuis 32 ans</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque cursus gravida vulputate. Integer id libero elit. Ut vel dolor mi. Nulla blandit erat eget libero eleifend feugiat. Aliquam gravida, ligula tempor vulputate porta, enim turpis sollicitudin odio, at ornare urna dolor at urna. Donec ut suscipit nisl.
		</p>
	</div>

	<div class="span6">
		<h3>Coordonnées</h3>

        <div><i class="icon-user"></i> 02.40.46.50.42</div>
        <div><i class="icon-envelope"></i> zola@boucherdefrance.fr</div>
        <div><i class="icon-home"></i> 6 place Emile Zola 44120 Nantes (<a href="LINK HERE">Voir la carte</a>)</div>

        <div class="text-centered">
        	<a class="btn btn-large btn-primary" href="LINK HERE">Voir tous les details</a>
        </div>
	</div>

</div>

