
<h2>Boucherie de Zola - Nantes</h2>

<div class="row-fluid">

	<div class="span12">
		<h4>Boucher passionné depuis 29 ans</h4>
		<p>
			Nous, Stéphane et Myriam BOURDEAU, sommes arrivés en juillet 2003. <br>
			Après avoir été installés depuis février 1990 dans différentes régions et différents commerces, nous avions envie de "revenir aux sources". 
			<br>Stéphane a fait son apprentissage de boucher ici même de 1981 à 1983, il a ensuite choisi de reprendre cette boutique.
		</p>
		<p>
			Nous avons refait tout le magasin ainsi que notre arrière boutique, le laboratoire, durant l’été 2010. Maintenant nous sommes heureux de vous accueillir dans notre magasin tout neuf, avec une équipe dynamique pour vous servir dans les meilleures conditions.
		</p>
	</div>

</div>

{% include 'PiggyBoxUserBundle:User:tab-infos.html.twig' %}
