
<h2>Boucherie de Zola - Nantes</h2>

<div class="row-fluid">

	<div class="span12">
		<h3>Boucher depuis 32 ans</h3>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque cursus gravida vulputate. Integer id libero elit. Ut vel dolor mi. Nulla blandit erat eget libero eleifend feugiat. Aliquam gravida, ligula tempor vulputate porta, enim turpis sollicitudin odio, at ornare urna dolor at urna. Donec ut suscipit nisl.
		</p>
	</div>

</div>

{% include 'PiggyBoxUserBundle:User:tab-infos.html.twig' %}