
{% if (shop.slug == 'boucherie-zola') %}

<h2>Boucherie de Zola - Nantes</h2>

<div class="row-fluid">

	<div class="span12">
		<h4>Boucher passionné depuis 29 ans</h4>
		<p>
			Nous, Stéphane et Myriam BOURDEAU, sommes arrivés en juillet 2003. <br>
			Après avoir été installés depuis février 1990 dans différentes régions et différents commerces, nous avions envie de "revenir aux sources".
			<br>Stéphane a fait son apprentissage de boucher ici même de 1981 à 1983, il a ensuite choisi de reprendre cette boutique.
		</p>
		<p>
			Nous avons refait tout le magasin ainsi que notre arrière boutique, le laboratoire, durant l’été 2010. Maintenant nous sommes heureux de vous accueillir dans notre magasin tout neuf, avec une équipe dynamique pour vous servir dans les meilleures conditions.
		</p>
	</div>

</div>

{% elseif (shop.slug == 'boucherie-des-gourmets') %}

<h2>Boucherie des Gourmets - Nantes</h2>

<div class="row-fluid">

	<div class="span12">
		<h4>Une boucherie chaleureuse rue des Hauts Pavés depuis 1996</h4>
		<p>
			Marie-Noëlle & Bruno sont installés depuis 1996. <br>
			En 1999, le laboratoire, pour la préparation des produits, a été agrandi et renové. Puis en 2005 le magasin a été refait à neuf.
		</p>
		<p>
			Nos produits sont de pure race, nous travaillons le Boeuf Parthenais, l’Agneau Baronet du Limousin, le Veau fermier Bretanin et la Volaille des Landes.
		</p>
		<p>
			Les plats cuisinés changent selon les jours, par exemple chaque mercredi vous pouvez retrouver la Brandade de Morue. Le vendredi nous proposons soit le Couscous, soit la Paëlla.
			Nous préparons également toutes les semaines des Nems au porc et des Samoussas de Boeuf de fabrication maison.
		</p>
	</div>

</div>

{% elseif (shop.slug == 'boucherie-copernic') %}

<h2>Boucherie Copernic - Nantes</h2>

<div class="row-fluid">

	<div class="span12">
		<h4>Une boucherie aux ambiances de boucherie parisienne</h4>

		<p>Jérome Hamard, sa femme ainsi que leurs deux employés vous accueillent dans leur boutique rue Copernic.</p>
		<p>Originaires de la région d’Ancenis, nous avons ouvert notre premier magasin il y a une dizaine d’années à Sucé sur Erdre.</p>
		<p>En 2006 nous avons repris la boutique rue Copernic à Nantes. En 2008 des travaux importants de rénovation ont eu lieu pour qu’aujourd’hui vous puissiez entrer dans cette ambiance “boucherie Parisienne”.</p>
	</div>

</div>


{% elseif (shop.slug == 'le-boulanger-de-zola') %}

<h2>Le boulanger de Zola - Nantes</h2>

<div class="row-fluid">

	<div class="span12">
		<h4>Du pain naturel et bio</h4>

		<p>Eric et Séverine sont arrivés en 2012 sur la place Zola et vous proposent aujourd'hui des pains particulièrement naturels.</p>
		<p>Les farines sont bios et respecteuses de l'environnement, les fruits utilisés sont naturels: par exemple les pommes des chaussons aux pommes viennent du marché de Zola.</p>
		<p>Vous découvrirez dans leur boutiques des pains originaux, comme le pain vigneron.</p>
	</div>

</div>

{% elseif (shop.slug == 'banette-la-mimine') %}

<h2>La boulangerie La Mimine - Sainte Luce</h2>

<div class="row-fluid">

	<div class="span12">
		<h4>Boulangerie Nantaise</h4>

		<p>Présentation de la boulangerie à rédiger.</p>
	</div>

</div>

{% elseif (shop.slug == 'banette-buxerolles') %}

<h2>Boulangerie Buxerolles - Poitiers</h2>

<div class="row-fluid">

	<div class="span12">
		<h4>Boulangerie de Buxerolles</h4>

		<p>Présentation de la boulangerie à rédiger.</p>
	</div>

</div>

{% endif %}

{% include 'PiggyBoxUserBundle:User:tab-infos.html.twig' with {'shop': shop} %}
