
{% if (shop.slug == 'boucherie-zola') %}

<h2>Boucherie de Zola - Nantes</h2>

<div class="row-fluid">

	<div class="span12">
		<h4>Boucher passionné depuis 29 ans</h4>
		<p>
			Nous, Stéphane et Myriam BOURDEAU, sommes arrivés en juillet 2003. <br>
			Après avoir été installés depuis février 1990 dans différentes régions et différents commerces, nous avions envie de "revenir aux sources".
			<br>Stéphane a fait son apprentissage de boucher ici même de 1981 à 1983, il a ensuite choisi de reprendre cette boutique.
		</p>
		<p>
			Nous avons refait tout le magasin ainsi que notre arrière boutique, le laboratoire, durant l’été 2010. Maintenant nous sommes heureux de vous accueillir dans notre magasin tout neuf, avec une équipe dynamique pour vous servir dans les meilleures conditions.
		</p>
	</div>

</div>

{% elseif (shop.slug == 'boucherie-des-gourmets') %}

<h2>Boucherie des Gourmets - Nantes</h2>

<div class="row-fluid">

	<div class="span12">
		<h4>Une boucherie chaleureuse rue des Hauts Pavés depuis 1996</h4>
		<p>
			Marie-Noëlle & Bruno sont installés depuis 1996. <br>
			En 1999, le laboratoire, pour la préparation des produits, a été agrandi et renové. Puis en 2005 le magasin a été refait à neuf.
		</p>
		<p>
			Nos produits sont de pure race, nous travaillons le Boeuf Parthenais, l’Agneau Baronet du Limousin, le Veau fermier Bretanin et la Volaille des Landes.
		</p>
		<p>
			Les plats cuisinés changent selon les jours, par exemple chaque mercredi vous pouvez retrouver la Brandade de Morue. Le vendredi nous proposons soit le Couscous, soit la Paëlla.
			Nous préparons également toutes les semaines des Nems au porc et des Samoussas de Boeuf de fabrication maison.
		</p>
	</div>

</div>

{% elseif (shop.slug == 'boucherie-copernic') %}

<h2>Boucherie Copernic - Nantes</h2>

<div class="row-fluid">

	<div class="span12">
		<h4>Une boucherie aux ambiances de boucherie parisienne</h4>

		<p>Jérome Hamard, sa femme ainsi que leurs deux employés vous accueillent dans leur boutique rue Copernic.</p>
		<p>Originaires de la région d’Ancenis, nous avons ouvert notre premier magasin il y a une dizaine d’années à Sucé sur Erdre.</p>
		<p>En 2006 nous avons repris la boutique rue Copernic à Nantes. En 2008 des travaux importants de rénovation ont eu lieu pour qu’aujourd’hui vous puissiez entrer dans cette ambiance “boucherie Parisienne”.</p>
	</div>

</div>


{% elseif (shop.slug == 'le-boulanger-de-zola') %}

<h2>Le boulanger de Zola - Nantes</h2>

<div class="row-fluid">

	<div class="span12">
		<h4>Du pain naturel et bio</h4>

		<p>Eric et Séverine sont arrivés en 2012 sur la place Zola et vous proposent aujourd'hui des pains particulièrement naturels.</p>
		<p>Les farines sont bios et respecteuses de l'environnement, les fruits utilisés sont naturels: par exemple les pommes des chaussons aux pommes viennent du marché de Zola.</p>
		<p>Vous découvrirez dans leur boutiques des pains originaux, comme le pain vigneron.</p>
	</div>

</div>

{% elseif (shop.slug == 'banette-la-mimine') %}

<h2>La boulangerie Banette "La Mimine"</h2>

<div class="row-fluid">

	<div class="span12">

		<p>La boulangerie "<em>La Mimine</em>" vous propose un large choix de sandwiches aux meilleurs prix.</p>

	</div>

</div>

{% elseif (shop.slug == 'banette-buxerolles') %}

<h2>Boulangerie Banette - Buxerolles</h2>

<div class="row-fluid">

	<div class="span12">
		<h4>Boulangerie Banette de Buxerolles</h4>

		<p>La boulangerie Banette de Buxerolles vous propose un large choix de sandwiches aux meilleurs prix.</p>
	</div>

</div>

{% elseif (shop.slug == 'banette-la-garenne') %}

<h2>Boulangerie Banette - Poitiers Sud</h2>

<div class="row-fluid">

	<div class="span12">
		<h4>Boulangerie Banette à Poitiers Sud</h4>

		<p>La boulangerie Banette, 1 rue de la Garenne, vous propose un large choix de sandwiches aux meilleurs prix.</p>
	</div>

</div>

{% elseif (shop.slug == 'banette-grand-large') %}

<h2>Boulangerie Banette Grand Large</h2>

<div class="row-fluid">

	<div class="span12">
		<h4>Boulangerie Banette à Saint Benoit</h4>

		<p>La boulangerie Banette de Saint Benoit vous propose un large choix de sandwiches aux meilleurs prix.</p>
	</div>

</div>

{% elseif (shop.slug == 'banette-futuroscope') %}

<h2>Boulangerie Banette - Futuroscope</h2>

<div class="row-fluid">

	<div class="span12">
		<h4>Boulangerie Banette au Futuroscope</h4>

		<p>La boulangerie Banette du Futuroscope vous propose un large choix de sandwiches aux meilleurs prix.</p>
	</div>

</div>

{% elseif (shop.slug == 'boucherie-morel') %}

<h2>Boucherie Morel au coeur de Rezé</h2>

<div class="row-fluid">

	<div class="span12">
		<h4>Boucherie - Charcuterie - Traiteur</h4>

    <p>Anne et Lionel Morel vous accueillent avec toute leur équipe, toute la semaine à Rezé. La boucherie est située au milieu d'une place commerçante: boulangerie, épicerie, salon de coiffure.</p>

    <p>Installés depuis 2002, Anne et Lionel sont arrivés à Rezé en 2007. Après plus de 10 ans de métier, Lionel vous propose un large choix de produits en viande, volaille, traiteur et fromage.</p>

    <p>La boucherie ne travaille que des produits d'origine Française. Toutes les viandes sont labellisées "Label Rouge" ce qui garantie leur provenance et leur qualités.</p>
</div>

</div>

{% endif %}

{% include 'PiggyBoxUserBundle:User:tab-infos.html.twig' with {'shop': shop} %}
