
{% for count in range(0, 10) %}

	{% set path = "bundles/piggyboxuser/img/shops/" ~ shop.slug ~ "/photos/" ~  shop.slug ~ "-" ~ count ~ ".jpg" %}

    {% if file_exists( web_path ~ path ) %}

		<div class="">
			<img src="{{ asset(path) }}" alt="">
			<hr />
		</div>

	{% endif %}

{% endfor %}
