
{% if (shop.slug == 'boucherie-zola') %}

<h2>Boucherie de Zola - Nantes</h2>

<div class="row-fluid">

	<div class="span12">
		<h4>Boucher passionné depuis 29 ans</h4>
		<p>
			Nous, Stéphane et Myriam BOURDEAU, sommes arrivés en juillet 2003. <br>
			Après avoir été installé depuis février 1990 dans différentes régions et différents commerces. Nous avions envie de revenir aux sources. 
			<br>Stéphane a fait son apprentissage de boucher ici même de 1981 à 1983, il ensuite choisi de reprendre cette boutique.
		</p>
		<p>
			Nous avons refait tout le magasin ainsi que les laboratoires durant l’été 2010. Maintenant nous sommes heureux de vous accueillir dans un beau magasin tout neuf, avec une équipe dynamique pour vous servir dans de meilleures conditions.
		</p>
	</div>

</div>

{% elseif ('boucherie-des-gourmets') %}

<h2>Boucherie des Gourmets - Nantes</h2>

<div class="row-fluid">

	<div class="span12">
		<h4>Une boucherie chaleureuse rue des Hauts Pavé depuis 1996</h4>
		<p>
			Marie-Noëlle & Bruno sont installés depuis 1996. <br>
			En 1999, le laboratoire, pour la préparation des produits, a été agrandi et renovér. Puis en 2005 le magasin a été refait à neuf.
		</p>
		<p>
			Nos produits sont de pure races, nous travaillons le Boeuf Parthenais, l’Agneau Baronet du Limousin, le Veau fermier Bretanin et la Vollailes des Landes.
		</p>
		<p>
			Les plats cuisinés change selon les jours, par exemple chaque mercredi vous pouvez retrouver la Brandade de Morue. Les vendredi nous proposons soit le Couscous, soit la Paëlla.
			Nous préparons également toutes les semaines des Nems au porc et des Samoussas de Boeuf de fabrication maison.
		</p>
	</div>

</div>

{% endif %}

{% include 'PiggyBoxUserBundle:User:tab-infos.html.twig' with {'shop': shop} %}