
<div class="faq-item bottom-marged">
    <h4><i class="icon-tag"></i> Quel type de commerces je peux trouver sur <em>"Cotelettes & Tarte aux fraises"</em> ?</h4>
    <p>Notre but est de réunir sur un même espace <strong>tous les commerces de tradition qui font la culture et le
        terroir français</strong> : Boulangeries, Boucheries, Primeurs, Fromageries, Poissonneries, Cavistes,...</p>
</div>
<div class="faq-item bottom-marged">
    <h4><i class="icon-tag"></i> Quel est l'intérêt d'une telle plateforme ?</h4>
    <p>Lorsque vous passez votre commande, vous êtes sûr d'avoir les produits demandés en temps et en heure.<p>
    <p><strong>Vous ne faites pas la queue</strong> à la caisse mais vous allez toujours voir vos commerçants: vous continuez à leur dire <i>bonjour</i></p>
    <p>De plus réunir tous vos commerçants sur une seule et même plateforme vous évite de jongler entre différents sites.</p>
</div>
<div class="faq-item bottom-marged">
    <h4><i class="icon-tag"></i> Quel est le délai minimum avant que ma commande soit prête ?</h4>
    <p>Ce délai est différent dans chaque boutique. De plus il est très différent selon la commande, en effet si tout est en stock et demande peu de préparation elle peut être prête très rapidement. Pour l'instant le minimum sur le site est de <em>2h30</em> mais nous vous encourageons fortement à <strong>passer vos commandes 24h à l'avance.</strong></p>
    <p>Lorsque vous passez votre commande, <strong>votre commerçant doit la valider</strong>.</p>
</div>
<div class="faq-item bottom-marged">
    <h4><i class="icon-tag"></i> Peut-on payer en ligne ?</h4>
    <p>La plateforme <em>"Cotelettes & Tarte aux fraises"</em> en est à sa première version, nous ne proposons pas encore le paiement en ligne.
        Vous paierez en boutique chez votre commerçant. En plus cela  sera l'occasion de discuter.</p>

</div>
<div class="faq-item bottom-marged">
    <h4><i class="icon-tag"></i> Le prix annoncé est-il définitif ?</h4>
    <p>Le prix que nous annonçons sur le site est susceptible de changer selon les produits et la coupe.</p>
    <p><i>Exemple:</i> Comme vous le savez, lorsque vous commandez un rôti d'1Kg par exemple, votre boucher peut couper 960g ou bien 1,070Kg. Ainsi vous paierez en boutique le prix juste.</p>
    <p>Mais le paiement en ligne est une évolution sur laquelle nous travaillons.</p>
</div>
