
<!DOCTYPE html>
<!--[if lte IE 8 ]> <html lang="en" class="no-js oldie"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />

        <title>Côtelettes et tartes aux fraises</title>
        <meta name="description" content="" />
        <meta name="author" content="Baptiste DUPUCH" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

                                        <link rel="stylesheet" type="text/css" href="/bundles/piggyboxshop/css/styles-prod.css">
            
            <link rel="stylesheet" type="text/css" media="print" href="/bundles/piggyboxshop/css/print.css">

        
    <link rel="stylesheet" type="text/css" href="/bundles/piggyboxshop/css/vendor/bigbox.css">
    </head>

    <body>
        <header id="masterhead" class="app-banner container">

            <div class="navbar navbar-fixed-bottom navbar-inverse">
              <div class="navbar-inner">
                <div class="container">

                  <!-- Everything you want hidden at 940px or less, place within here -->
                  <div class="row">
                    <nav>
                        <ul class="nav">
                            <li class="span3
                                active                              ">
                                <a href="/monmagasin/">Commandes</a>
                            </li>
                            <li class="span3
                                                                ">
                                <a href="/monmagasin/mesproduits">Produits</a>
                            </li>
                            <li class="span3">
                                <div class="coming-soon-app"></div>
                                <a href="#">Clients</a>
                            </li>
                            <li class="span3">
                                <div class="coming-soon-app"></div>
                                <a href="#">Outils</a>
                            </li>
                        </ul>

                    </nav>
                  </div>

                </div>
              </div>
            </div>

        </header>

        <div class="container">
                    </div>
        
<header id="" class="app-sub-banner container">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <!-- Everything you want hidden at 940px or less, place within here -->
          <div class="nav-collapse">
            <nav>
                <ul class="nav">

                    <li class="subnav-icon-links">
                        <a href="#to_validate">
                            <img src="/bundles/piggyboxshop/img/order.png" alt="">
                            <span id="super-badge" class="badge badge-success">0</span>
                            <div style="">A valider</div>
                        </a>
                    </li>

                    <li class="divider-vertical"></li>

                    <li class="subnav-icon-links">
                        <a href="#to_prepare">
                            <img src="/bundles/piggyboxshop/img/order4.png" alt="">
                            <span class="badge badge-warning">0</span>
                            <div style="">A préparer</div>
                        </a>
                    </li>

                    <li class="divider-vertical"></li>

                    <li class="subnav-icon-links">
                        <a href="#to_collect">
                            <img src="/bundles/piggyboxshop/img/order3.png" alt="">
                            <span class="badge">0</span>
                            <div style="">A retirer</div>
                        </a>
                    </li>
                </ul>
                <ul class="nav pull-right">
                    <li class="subnav-icon-links">
                        <a href="#to_collect">
                            <img src="/bundles/piggyboxshop/img/order2.png" alt="">
                            <div style="">Archive</div>
                        </a>
                    </li>

                    <li class="divider-vertical"></li>

                    <li class="subnav-icon-links">
                        <a href="javascript:window.print()">
                            <img src="/bundles/piggyboxshop/img/print.png" alt="">
                            <div style="">Imprimer</div>
                        </a>
                    </li>

                    <li class="divider-vertical"></li>

                    <li class="subnav-icon-links">
                        <a href="/">
                            <img src="/bundles/piggyboxshop/img/home-button.png" alt="">
                            <div style="">Retour au site</div>
                        </a>
                    </li>

                </ul>

            </nav>
          </div>

        </div>
      </div>
    </div>

</header>

<div id="main">
    <div id="primary" class="site-content container">

        <h2 id="to_validate">Commandes à valider <sup id="super-badge" class="badge badge-success">0</sup></h2>

        <div data-load-more="/monmagasin/.json" class="to_validate_ajax">
                </div>

        <div class="box box-margined box-success">
            <div class="row-fluid bottom-marged">

                <div class="span4">
                    <h4><i class="icon-time" style="margin-top: 3px;"></i> Mercredi 24/11 18h30</h4>
                </div>

                <div class="span4">
                    <i class="icon-user"></i> <strong>Julien Bourdeau</strong> <br>
                    <i class="icon-signal"></i> 06 49 74 43 64 <br>
                    <i class="icon-envelope"></i> julien_bourdeau@ymail.com
                </div>

                <div class="span4 text-centered">
                    <span class="label label-success">Première commande</span> <br>
                    <span class="label label-important">Non payé</span>
                </div>

            </div>

            <div class="row-fluid bottom-marged">

                <div class="span8">
                    <table class="table table-bordered cart-large no-margin">
                        <thead>
                            <tr>
                                <th class="col1">Désignation Produit</th>
                                <th class="col2">Quantité</th>
                                <th class="col3">Prix Total</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="col1">
                                    <strong>
                                        Côte d'Agneau Première
                                    </strong>
                                </td>
                                <td class="col2">2x</td>
                                <td class="col3">8,39 €</td>
                            </tr>
                            <tr>
                                <td class="col1">
                                    <strong>
                                        Côte d'Agneau Première
                                    </strong>
                                </td>
                                <td class="col2">2x</td>
                                <td class="col3">8,39 €</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered table-striped cart-total pull-right">
                        <tr>
                            <td class=""><strong>Total TTC:</strong></td>
                            <td class=""><strong>235,99 €</strong></td>
                        </tr>
                    </table>

                </div>
                <div class="span4">
                    <div class="alert alert-warning">
                        <div class="label label-warning">Note du client</div>
                        <p>Merci de mettre toute ma commande sous vide</p>
                    </div>
                </div>

            </div>

            <div class="row-fluid">
                <div class="span3 offset1">
                    <a href="#" class="btn btn-danger btn-block"><i class="icon-remove icon-white"></i> Refuser</a>
                </div>
                <div class="span4 offset3">
                    <a href="#" class="btn btn-large btn-block btn-success"><i class="icon-thumbs-up icon-white"></i> Valider</a>
                </div>
            </div>
        </div>


        <hr class="divider">
        <h2 id="to_prepare">Commandes à préparer <sup class="badge badge-warning">0</sup></h2>

        <div class="box box-margined box-warning">
            <div class="row-fluid bottom-marged">

                <div class="span4">
                    <h4><i class="icon-time" style="margin-top: 3px;"></i> Mercredi 24/11 18h30</h4>
                </div>

                <div class="span4">
                    <i class="icon-user"></i> <strong>Julien Bourdeau</strong> <br>
                    <i class="icon-signal"></i> 06 49 74 43 64 <br>
                    <i class="icon-envelope"></i> julien_bourdeau@ymail.com
                </div>

                <div class="span4 text-centered">
                    <span class="label label-success">Première commande</span> <br>
                    <span class="label label-important">Non payé</span>
                </div>

            </div>

            <div class="row-fluid bottom-marged">

                <div class="span8">
                    <table class="table table-bordered cart-large no-margin">
                        <thead>
                            <tr>
                                <th class="col1">Désignation Produit</th>
                                <th class="col2">Quantité</th>
                                <th class="col3">Prix Total</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="col1">
                                    <strong>
                                        Côte d'Agneau Première
                                    </strong>
                                </td>
                                <td class="col2">2x</td>
                                <td class="col3">8,39 €</td>
                            </tr>
                            <tr>
                                <td class="col1">
                                    <strong>
                                        Côte d'Agneau Première
                                    </strong>
                                </td>
                                <td class="col2">2x</td>
                                <td class="col3">8,39 €</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered table-striped cart-total pull-right">
                        <tr>
                            <td class=""><strong>Total TTC:</strong></td>
                            <td class=""><strong>235,99 €</strong></td>
                        </tr>
                    </table>

                </div>
                <div class="span4">
                    <div class="alert alert-info">
                        <div class="label label-info">Note du client</div>
                        <p>Merci de mettre toute ma commande sous vide</p>
                    </div>
                </div>

            </div>

            <div class="row-fluid">
                <div class="span3 offset1">
                    <a href="#" class="btn btn-block"><i class="icon-flag"></i> Retirée</a>
                </div>
                <div class="span4 offset3">
                    <a href="#" class="btn btn-large btn-block btn-primary"><i class="icon-ok icon-white"></i> Prête</a>
                </div>
            </div>
        </div>    

        <hr class="divider">
        <h2 id="to_collect">Commandes à retirer <sup class="badge">0</sup></h2>

        <div class="box box-margined">
            <div class="row-fluid bottom-marged">

                <div class="span4">
                    <h4><i class="icon-time" style="margin-top: 3px;"></i> Mercredi 24/11 18h30</h4>
                </div>

                <div class="span4">
                    <i class="icon-user"></i> <strong>Julien Bourdeau</strong> <br>
                    <i class="icon-signal"></i> 06 49 74 43 64 <br>
                    <i class="icon-envelope"></i> julien_bourdeau@ymail.com
                </div>

                <div class="span4 text-centered">
                    <span class="label label-success">Première commande</span> <br>
                    <span class="label label-important">Non payé</span>
                </div>

            </div>

            <div class="row-fluid bottom-marged">

                <div class="span8">
                    <table class="table table-bordered cart-large no-margin">
                        <thead>
                            <tr>
                                <th class="col1">Désignation Produit</th>
                                <th class="col2">Quantité</th>
                                <th class="col3">Prix Total</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td class="col1">
                                    <strong>
                                        Côte d'Agneau Première
                                    </strong>
                                </td>
                                <td class="col2">2x</td>
                                <td class="col3">8,39 €</td>
                            </tr>
                            <tr>
                                <td class="col1">
                                    <strong>
                                        Côte d'Agneau Première
                                    </strong>
                                </td>
                                <td class="col2">2x</td>
                                <td class="col3">8,39 €</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered table-striped cart-total pull-right">
                        <tr>
                            <td class=""><strong>Total TTC:</strong></td>
                            <td class=""><strong>235,99 €</strong></td>
                        </tr>
                    </table>

                </div>
                <div class="span4">
                    <div class="alert alert-info">
                        <div class="label label-info">Note du client</div>
                        <p>Merci de mettre toute ma commande sous vide</p>
                    </div>
                </div>

            </div>

            <div class="row-fluid">
                <div class="span4 offset7">
                    <a href="#" class="btn btn-large btn-block btn-inverse"><i class="icon-flag icon-white"></i> Retirée</a>
                </div>
            </div>
        </div>
    
    </div>
</div>


        
                    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        
    <script src="/bundles/piggyboxshop/js/vendor/humane.min.js"></script>
    <script src="/bundles/piggyboxshop/js/orders_to_validate.js"></script>
    
<div id="sfwdt50b36d9440ab9" class="sf-toolbar" style="display: none"></div><script type="text/javascript">/*<![CDATA[*/    Sfjs = (function() {        "use strict";        var noop = function() {},            request = function(url, onSuccess, onError, payload, options) {                var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');                options = options || {};                xhr.open(options.method || 'GET', url, true);                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');                xhr.onreadystatechange = function(state) {                    if (4 === xhr.readyState && 200 === xhr.status) {                        (onSuccess || noop)(xhr);                    } else if (4 === xhr.readyState && xhr.status != 200) {                        (onError || noop)(xhr);                    }                };                xhr.send(payload || '');            },            hasClass = function(el, klass) {                return el.className.match(new RegExp('\\b' + klass + '\\b'));            },            removeClass = function(el, klass) {                el.className = el.className.replace(new RegExp('\\b' + klass + '\\b'), ' ');            },            addClass = function(el, klass) {                if (!hasClass(el, klass)) { el.className += " " + klass; }            };        return {            hasClass: hasClass,            removeClass: removeClass,            addClass: addClass,            request: request,            load: function(selector, url, onSuccess, onError, options) {                var el = document.getElementById(selector);                if (el && el.getAttribute('data-sfurl') !== url) {                    request(                        url,                        function(xhr) {                            el.innerHTML = xhr.responseText;                            el.setAttribute('data-sfurl', url);                            removeClass(el, 'loading');                            (onSuccess || noop)(xhr, el);                        },                        function(xhr) { (onError || noop)(xhr, el); },                        options                    );                }                return this;            },            toggle: function(selector, elOn, elOff) {                var i,                    style,                    tmp = elOn.style.display,                    el = document.getElementById(selector);                elOn.style.display = elOff.style.display;                elOff.style.display = tmp;                if (el) {                    el.style.display = 'none' === tmp ? 'none' : 'block';                }                return this;            }        }    })();/*]]>*/</script><script type="text/javascript">/*<![CDATA[*/    (function () {                Sfjs.load(            'sfwdt50b36d9440ab9',            '/_wdt/50b36d9440ab9',            function(xhr, el) {                el.style.display = -1 !== xhr.responseText.indexOf('sf-toolbarreset') ? 'block' : 'none';            },            function(xhr) {                if (xhr.status !== 0) {                    confirm('An error occurred while loading the web debug toolbar (' + xhr.status + ': ' + xhr.statusText + ').\n\nDo you want to open the profiler?') && (window.location = '/_profiler/50b36d9440ab9');                }            }        );    })();/*]]>*/</script>
</body>

</html>
