
<!DOCTYPE html>
<!--[if lt IE 7]>      <html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/"  class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/"  class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/"  class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://opengraphprotocol.org/schema/"  class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Côtelettes & Tarte aux Fraises</title>
		<meta name="keywords" content="Boucherie Charcuterie Traiteur Terroir Nantes Sautrons Saint-Herblain horaires adresse telephone" />
<meta name="description" content="Site d&eacute;di&eacute; aux commer&ccedil;ants de proximit&eacute;" />
<meta name="robots" content="index, follow" />
<meta property="og:title" content="C&ocirc;telettes &amp; Tarte aux Fraises" />
<meta property="og:url" content="www.cotelettes-tarteauxfraises.com" />
<meta property="og:site_name" content="C&ocirc;telettes &amp; Tarte aux Fraises" />
<meta property="og:description" content="Le terroir dans sa poche" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <meta name="viewport" content="width=device-width">

            		<link rel="stylesheet/less" type="text/css" href="/bundles/piggyboxuser/less/styles.less">
            <script src="/bundles/piggyboxuser/js/vendor/less-1.3.0.min.js" type="text/javascript"></script>
        
    </head>
    <body>
		<!-- ClickTale Top part -->
		<script type="text/javascript">
			var WRInitTime=(new Date()).getTime();
		</script>
		<!-- ClickTale end of Top part -->

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->


        <header id="header" class="clearfix">

            <div class="black-container">
                <div class="container">

                    <div class="row">
                        <div class="span12">

                            <div id="logo">
                                <a href="/">
                                    <img src="/bundles/piggyboxuser/img/logo.png" height="" alt="">
                                </a>
                            </div>

                            <div class="header-content hidden-small-phone">

                                <div class="user-bar text-right clearfix">
                                    <ul class="nav nav-pills no-margin pull-right">
                                                                                    <li><a href="/register/">Créer rapidement un compte</a></li>
                                            <li><a href="/login">Se connecter</a></li>
                                                                            </ul>
                                </div>

                                <div class="text-right">
                                    <img style="margin-top: 9px;" width="220px" src="/bundles/piggyboxuser/img/help numbers_header.png" alt="">
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <div class="header-menu tabbable tabs-below pull-right">
                                <ul class="access nav nav-tabs">
                                    <li class=""><a href="/">Accueil</a></li>
                                    <li class=""><a href="/les-commercants">Les commerçants</a></li>
                                    <li class=""><a href="/comment-ca-marche">Comment ça marche?</a></li>
                                    <li class=""><a href="/commande/validation">Panier</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>


		

		
        <div class="container bottom-marged">
            <div class="row">

                <div id="" class="span8">
                    
                                        <div id="photo-slider">
                        <div id="shopCarousel" class="carousel slide">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                                                                                        <div class="item active">
                                                                                <img src="/bundles/piggyboxuser/img/carousel/boutique-1.jpg" alt="">
                                    </div>
                                                                        <div class="item ">
                                                                                <img src="/bundles/piggyboxuser/img/carousel/boutique-2.jpg" alt="">
                                    </div>
                                                                        <div class="item ">
                                                                                <img src="/bundles/piggyboxuser/img/carousel/boutique-3.jpg" alt="">
                                    </div>
                                                                        <div class="item ">
                                                                                <img src="/bundles/piggyboxuser/img/carousel/boutique-4.jpg" alt="">
                                    </div>
                                                                        <div class="item ">
                                                                                <img src="/bundles/piggyboxuser/img/carousel/boutique-5.jpg" alt="">
                                    </div>
                                                                        <div class="item ">
                                                                                <img src="/bundles/piggyboxuser/img/carousel/boutique-6.jpg" alt="">
                                    </div>
                                                                                                </div>

                            <!-- Carousel nav -->
                            <a class="carousel-control left" href="#shopCarousel" data-slide="prev">&lsaquo;</a>
                            <a class="carousel-control right" href="#shopCarousel" data-slide="next">&rsaquo;</a>
                        </div>
                    </div>
                </div>

                <div class="sidebar span4">
                    
                    
<div id="shop-infos" class="">

        <h1 class="">Boucherie de Zola</h1>

    <div id="shop-details" class="row-fluid">

        <div class="span12">
            <p>
                <i class="icon-user"></i> 02.40.46.50.42 <br />
                <i class="icon-envelope"></i> zola@boucherdefrance.fr<br />
                <i class="icon-home"></i> 6 place Emile Zola 44100 Nantes
            </p>
            <p>
                <i class="icon-time"></i> Le Mardi, Mercredi, Vendredi, Samedi <br />
                <i class="icon-"></i> 8:30 - 13:30 & 15:30 - 19:30 <br />
                <i class="icon-"></i> Le jeudi matin <br />
                <i class="icon-"></i> 8:30 - 13:15 <br />
                <i class="icon-"></i> Le dimanche matin <br />
                <i class="icon-"></i> 8:30 - 13:00
            </p>


        </div>


    </div>

    
</div>


                </div>
      
            </div>
        </div>

        <div class="container">
            <div class="row">
    
                <div id="content" class="span12">
                
                    <div id="entry-container">
                        <div id="entry-nav">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#shop" data-toggle="tab">Produits à commander</a>
                                </li>
                                <li class="">
                                    <a href="#fiche" data-toggle="tab">Fiche Pratique</a>
                                </li>
                                <li class="disabled">
                                    <div class="coming-soon-small"></div>
                                    <a data-toggle="">Avis</a>
                                </li>
                                <li><a href="#photos" data-toggle="tab">Photos</a></li>
                            </ul> 
                        </div>

                        <div id="entry-content" class="tab-content">

                            <div id="fiche" class="tab-pane">
                                

<h2>Boucherie de Zola - Nantes</h2>

<div class="row-fluid">

	<div class="span12">
		<h4>Boucher passionné depuis 29 ans</h4>
		<p>
			Nous, Stéphane et Myriam BOURDEAU, sommes arrivés en juillet 2003. <br>
			Après avoir été installés depuis février 1990 dans différentes régions et différents commerces, nous avions envie de "revenir aux sources".
			<br>Stéphane a fait son apprentissage de boucher ici même de 1981 à 1983, il a ensuite choisi de reprendre cette boutique.
		</p>
		<p>
			Nous avons refait tout le magasin ainsi que notre arrière boutique, le laboratoire, durant l’été 2010. Maintenant nous sommes heureux de vous accueillir dans notre magasin tout neuf, avec une équipe dynamique pour vous servir dans les meilleures conditions.
		</p>
	</div>

</div>



<h2>Boucherie Zola: horaires, adresse & détails</h2>


<div class="row-fluid">

	<div class="span6">
		<h4>Parking</h4>
		<p><img src="/bundles/piggyboxuser/img/logos/new_parking_logo.jpg" alt=""> Grand parking <strong>gratuit</strong> à proximité</p>

		<h4>Paiements acceptés</h4>
		<p><img src="/bundles/piggyboxuser/img/logos/new_cb_logo.jpg" alt=""> Carte bleue (sans minimum)</p>
		<p><img src="/bundles/piggyboxuser/img/logos/new_cheque_resto_logo.jpg" alt=""> Tickets restaurant (tout type)</p>


	</div>

	<div class="span6">
		<h4>Coordonnées</h4>

        <p><img src="/bundles/piggyboxuser/img/logos/new_tel_logo.png" alt=""> 02.40.46.50.42</p>
        <p><img src="/bundles/piggyboxuser/img/logos/new_email_logo.png" alt=""> zola@boucherdefrance.fr</p>
        <p><img src="/bundles/piggyboxuser/img/logos/new_addr_logo.png" alt=""> 6 place Emile Zola 44100 Nantes (<a href="#map-large">Carte</a>)</p>


		<h4>Transport</h4>
		<p><img src="/bundles/piggyboxuser/img/logos/new_tan_logo.png" alt=""> Bus 11, 23, 54, 70 - Arrêt "<em><strong>Place Zola</strong></em>"
		</p>
	</div>

</div>


<div class="row-fluid">
	<div id="map-large" class="span12">
		<h3>La carte <small>Boucherie de Zola - Nantes</small></h3>
		<iframe width="740" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Boucherie+de+Zola,+6+Place+Emile+Zola,+Nantes&amp;aq=0&amp;oq=bouch&amp;sll=47.417262,-0.821485&amp;sspn=5.865058,10.645752&amp;ie=UTF8&amp;hq=Boucherie+de+Zola,&amp;hnear=6+Place+Emile+Zola,+44100+Nantes,+Loire-Atlantique,+Pays+de+la+Loire&amp;t=m&amp;ll=47.214059,-1.585379&amp;spn=0.006559,0.0159&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>
	</div>
</div>



                            </div>

                            <div id="shop" class="tab-pane active">
                                <div class="row-fluid">

                                    <div class="span3">
                                        <ul class="nav nav-list">
	<li id="tous" class="category-item tous"><a href="/commerce/boucherie-zola">Tous</a></li>
	<li id="viandes" class=""><a href="/commerce/boucherie-zola/Viandes" class="category-item Viandes">Viandes</a></li><ul class="nav nav-list"><li id="boeuf" class=""><a href="/commerce/boucherie-zola/Boeuf" class="category-item Boeuf ">Boeuf</a></li><li id="porc" class=""><a href="/commerce/boucherie-zola/Porc" class="category-item Porc ">Porc</a></li><li id="veau" class=""><a href="/commerce/boucherie-zola/Veau" class="category-item Veau ">Veau</a></li><li id="agneau" class=""><a href="/commerce/boucherie-zola/Agneau" class="category-item Agneau ">Agneau</a></li></ul><li id="volaille" class=""><a href="/commerce/boucherie-zola/Volaille" class="category-item Volaille">Volaille</a></li><ul class="nav nav-list"><li id="poulet" class=""><a href="/commerce/boucherie-zola/Poulet" class="category-item Poulet ">Poulet</a></li><li id="dinde" class=""><a href="/commerce/boucherie-zola/Dinde" class="category-item Dinde ">Dinde</a></li><li id="pintade" class=""><a href="/commerce/boucherie-zola/Pintade" class="category-item Pintade ">Pintade</a></li><li id="canard" class=""><a href="/commerce/boucherie-zola/Canard" class="category-item Canard ">Canard</a></li><li id="lapin" class=""><a href="/commerce/boucherie-zola/Lapin" class="category-item Lapin ">Lapin</a></li><li id="caille" class=""><a href="/commerce/boucherie-zola/Caille" class="category-item Caille ">Caille</a></li></ul><li id="charcuterie" class=""><a href="/commerce/boucherie-zola/Charcuterie" class="category-item Charcuterie">Charcuterie</a></li><ul class="nav nav-list"><li id="saucisses" class=""><a href="/commerce/boucherie-zola/Saucisses" class="category-item Saucisses ">Saucisses</a></li><li id="boudins" class=""><a href="/commerce/boucherie-zola/Boudins" class="category-item Boudins ">Boudins</a></li><li id="pates-rillettes" class=""><a href="/commerce/boucherie-zola/P%C3%A2t%C3%A9s%20Rillettes" class="category-item Pâtés Rillettes ">Pâtés Rillettes</a></li></ul><li id="plats-cuisines" class=""><a href="/commerce/boucherie-zola/Plats%20cuisin%C3%A9s" class="category-item Plats cuisinés">Plats cuisinés</a></li><ul class="nav nav-list"></ul><li id="fromage" class=""><a href="/commerce/boucherie-zola/Fromage" class="category-item Fromage">Fromage</a></li><ul class="nav nav-list"></ul><li id="divers" class=""><a href="/commerce/boucherie-zola/Divers" class="category-item Divers">Divers</a></li><ul class="nav nav-list"></ul>
</ul>
                                    </div>
                                    
<div class="span9">
                                        

	<div class="product-item
                product-item-single {# HERE #}
                row-fluid
				box 
				box-light
				tous 
				boeuf 
				viandes">
		
        <div class="span5">    

            <div class="product-thumbnail">
                <img width="300px" {# HERE #} src="/media/cache/my_thumb/uploads/products/R%C3%B4ti%20de%20boeuf-509292eaa7a07.jpeg" alt="" class="">
            </div>

        </div>

        <div class="span7">

    		<div class="product-infos">

                <div class="product-name">
                    <h1 class="text-centered">Rôti de boeuf</h1>
                </div>

    			<div class="product-details row-fluid bottom-marged">
                    <div class="product-line span6">
                        Environ 150g par pièce
                    </div>
                    <div class="product-price text-right span6">
                        <span class="kilo-price">43.95 € /Kg</span>
                        &nbsp;&nbsp;&nbsp;
                        <span class="primary-price">23.95 €</span>
                    </div>
    			</div>

    		</div>

            <div class="product-content">
                
                <div class="product-description">
                    <p>
                        Le filet est un muscle qui représente 2 % du poids de l’animal. C’est le muscle le plus demandé et donc le plus cher. Attention, il cuit tés vite et perd donc toute sa saveur s’il est oublié dans le four.
                    </p>
                </div>

                <div class="product-origin">
                    <h4>Origine</h4>
                    <i class="icon-flag-fr"></i> Viande d'origine française: Vendée & Viennes
                </div>

                <div class="product-conservation">
                    <h4>Conservation</h4>
                    <p>
                        Ce produit peut-être conserver 4 à 6 jours. Suivre les conseils de son boucher.
                    </p>
                </div>

            </div>

    		<div class="product-toolbar text-centered">
                <div>
                    <span class="btn left"><i class="icon-minus"></i></span>
                    <input type="text" class="inline-quatity">
                    <span class="btn right"><i class="icon-plus"></i></span>
                    <a href="" class="btn">Ajouter</a>
                </div>

                <div>
                    <span class="btn left"><i class="icon-minus"></i></span>
                    <input type="text" class="inline-quatity" value="1 pers.">
                    <span class="btn right"><i class="icon-plus"></i></span>
                    <a href="" class="btn">Ajouter</a>
                </div>
            </div>

        </div>

	</div>




    <h1 class="text-centered">Produits similaires</h1>

    <div class="product-list">
                                            

        <div class="product-item
                    box 
                    box-light
                    text-centered
                                    tous 
                    boeuf 
                    viandes">
            
            <div class="product-infos">

                <div class="product-details">
                        <div class="product-name">
                            <h4>Rôti de boeuf</h4>
                        </div>
                </div>
                
                <div class="product-thumbnail">
                    <img src="/media/cache/my_thumb/uploads/products/R%C3%B4ti%20de%20boeuf-509292eaa7a07.jpeg" alt="" class="">
                </div>


            </div>

            <div class="product-toolbar row-fluid">
                
                <div class="product-price span6">
                    23.95 €
                </div>

                <div class="span6">
                    <a href="#" class="btn-mini">Voir en détail</a>
                </div>

                <div class="span12">
                    <span class="btn btn-mini left"><i class="icon-minus"></i></span>
                    <input type="text" class="inline-quatity">
                    <span class="btn btn-mini right"><i class="icon-plus"></i></span>
                    <a href="" class="btn btn-mini">Ajouter</a>
                </div>
            </div>

        </div>



        <div class="product-item
                    box 
                    box-light
                    text-centered
                                    tous 
                    boeuf 
                    viandes">
            
            <div class="product-infos">

                <div class="product-details">
                        <div class="product-name">
                            <h4>Tournedos - Boeuf façon tournedos</h4>
                        </div>
                </div>
                
                <div class="product-thumbnail">
                    <img src="/media/cache/my_thumb/uploads/products/507d90ba9a277.jpeg" alt="" class="">
                </div>


            </div>

            <div class="product-toolbar row-fluid">
                
                <div class="product-price span6">
                    2.34 €
                </div>

                <div class="span6">
                    <a href="#" class="btn-mini">Voir en détail</a>
                </div>

                <div class="span12">
                    <span class="btn btn-mini left"><i class="icon-minus"></i></span>
                    <input type="text" class="inline-quatity">
                    <span class="btn btn-mini right"><i class="icon-plus"></i></span>
                    <a href="" class="btn btn-mini">Ajouter</a>
                </div>
            </div>

        </div>



        <div class="product-item
                    box 
                    box-light
                    text-centered
                    product-item-last               tous 
                    boeuf 
                    viandes">
            
            <div class="product-infos">

                <div class="product-details">
                        <div class="product-name">
                            <h4>Joue de Boeuf</h4>
                        </div>
                </div>
                
                <div class="product-thumbnail">
                    <img src="/media/cache/my_thumb/uploads/products/Joue%20de%20Boeu-509a7cef87491.jpeg" alt="" class="">
                </div>


            </div>

            <div class="product-toolbar row-fluid">
                
                <div class="product-price span6">
                     €
                </div>

                <div class="span6">
                    <a href="#" class="btn-mini">Voir en détail</a>
                </div>

                <div class="span12">
                    <span class="btn btn-mini left"><i class="icon-minus"></i></span>
                    <input type="text" class="inline-quatity">
                    <span class="btn btn-mini right"><i class="icon-plus"></i></span>
                    <a href="" class="btn btn-mini">Ajouter</a>
                </div>
            </div>

        </div>



    </div>



    <h1 class="text-centered">Produits au hasard</h1>

    <div class="product-list">
                                            

        <div class="product-item
                    box 
                    box-light
                    text-centered
                                    tous 
                    boeuf 
                    viandes">
            
            <div class="product-infos">

                <div class="product-details">
                        <div class="product-name">
                            <h4>Rôti de boeuf</h4>
                        </div>
                </div>
                
                <div class="product-thumbnail">
                    <img src="/media/cache/my_thumb/uploads/products/R%C3%B4ti%20de%20boeuf-509292eaa7a07.jpeg" alt="" class="">
                </div>


            </div>

            <div class="product-toolbar row-fluid">
                
                <div class="product-price span6">
                    23.95 €
                </div>

                <div class="span6">
                    <a href="#" class="btn-mini">Voir en détail</a>
                </div>

                <div class="span12">
                    <span class="btn btn-mini left"><i class="icon-minus"></i></span>
                    <input type="text" class="inline-quatity">
                    <span class="btn btn-mini right"><i class="icon-plus"></i></span>
                    <a href="" class="btn btn-mini">Ajouter</a>
                </div>
            </div>

        </div>



        <div class="product-item
                    box 
                    box-light
                    text-centered
                                    tous 
                    boeuf 
                    viandes">
            
            <div class="product-infos">

                <div class="product-details">
                        <div class="product-name">
                            <h4>Tournedos - Boeuf façon tournedos</h4>
                        </div>
                </div>
                
                <div class="product-thumbnail">
                    <img src="/media/cache/my_thumb/uploads/products/507d90ba9a277.jpeg" alt="" class="">
                </div>


            </div>

            <div class="product-toolbar row-fluid">
                
                <div class="product-price span6">
                    2.34 €
                </div>

                <div class="span6">
                    <a href="#" class="btn-mini">Voir en détail</a>
                </div>

                <div class="span12">
                    <span class="btn btn-mini left"><i class="icon-minus"></i></span>
                    <input type="text" class="inline-quatity">
                    <span class="btn btn-mini right"><i class="icon-plus"></i></span>
                    <a href="" class="btn btn-mini">Ajouter</a>
                </div>
            </div>

        </div>



        <div class="product-item
                    box 
                    box-light
                    text-centered
                    product-item-last               tous 
                    boeuf 
                    viandes">
            
            <div class="product-infos">

                <div class="product-details">
                        <div class="product-name">
                            <h4>Joue de Boeuf</h4>
                        </div>
                </div>
                
                <div class="product-thumbnail">
                    <img src="/media/cache/my_thumb/uploads/products/Joue%20de%20Boeu-509a7cef87491.jpeg" alt="" class="">
                </div>


            </div>

            <div class="product-toolbar row-fluid">
                
                <div class="product-price span6">
                     €
                </div>

                <div class="span6">
                    <a href="#" class="btn-mini">Voir en détail</a>
                </div>

                <div class="span12">
                    <span class="btn btn-mini left"><i class="icon-minus"></i></span>
                    <input type="text" class="inline-quatity">
                    <span class="btn btn-mini right"><i class="icon-plus"></i></span>
                    <a href="" class="btn btn-mini">Ajouter</a>
                </div>
            </div>

        </div>



    </div>



</div>

                                </div>
                            </div>

                            <div id="photos" class="tab-pane">
                                
	<div class="">
				<img src="/bundles/piggyboxuser/img/carousel/boutique-0.jpg" alt="">
		<hr />
	</div>
	<div class="">
				<img src="/bundles/piggyboxuser/img/carousel/boutique-1.jpg" alt="">
		<hr />
	</div>
	<div class="">
				<img src="/bundles/piggyboxuser/img/carousel/boutique-2.jpg" alt="">
		<hr />
	</div>
	<div class="">
				<img src="/bundles/piggyboxuser/img/carousel/boutique-3.jpg" alt="">
		<hr />
	</div>
	<div class="">
				<img src="/bundles/piggyboxuser/img/carousel/boutique-4.jpg" alt="">
		<hr />
	</div>
	<div class="">
				<img src="/bundles/piggyboxuser/img/carousel/boutique-5.jpg" alt="">
		<hr />
	</div>
	<div class="">
				<img src="/bundles/piggyboxuser/img/carousel/boutique-6.jpg" alt="">
		<hr />
	</div>

                            </div>

                        </div>
                    </div>
                
                </div>

            </div><!-- /row -->
        </div> <!-- /container -->




		<footer id="footer" class="">
            <div class="container">

                <div class="row">

                    <div class="span4">
                        <div class="help-contact text-centered">
                            <img src="/bundles/piggyboxuser/img/help-telephone.png" alt="">
                            <a href="//twitter.com/cetaf_officiel"><img src="/bundles/piggyboxuser/img/help-twitter.png" alt=""></a>
                            <a href="mailto:aide@cotelettes-tarteauxfraises.com"><img src="/bundles/piggyboxuser/img/help-email.png" alt=""></a>
                        </div>

                    </div>

                    <div class="span4 hidden-phone">
                        <h3 class="no-margin">Lancement <sup class="label label-important">Beta</sup> </h3>
                        <p><em>Cotelettes & tarte aux fraises</em> vient d'être lancé sur Nantes, bientot d'autres commerces seront disponibles: </p>
                            <ul class="list">
                                <li>Boulangeries</li>
                                <li>Primeurs</li>
                                <li>Boucheries</li>
                                <li>Crèmeries</li>
                                <li>Cavistes</li>
                                <li>Et plus encore</li>
                            </ul>
                    </div>

                    <div class="span2 hidden-phone hidden-tablet">
                        <h3 class="no-margin">A voir</h3>
                        <ul>
                            <li><a href="/">Accueil</a></li>
                            <li><a href="/les-commercants">Les commerçants</a></li>
                            <li><a href="/comment-ca-marche">Comment ça marche ?</a></li>
                            <li><a href="/qui-sommes-nous">Qui sommes-nous ?</a></li>
                            <li><a href="/mentions-legales">Mentions légales</a></li>
                        </ul>
                    </div>

                    <div class="span2 hidden-phone hidden-tablet">
                        <h3 class="no-margin">A propos</h3>
                        <address>
                            <strong>The Box Makers SAS</strong><br>
                            16 impasse du stade <br>
                            Raymond Durand <br>
                            44120 Vertou<br>
                            <abbr title="Telephone">Tel:</abbr> 02 40 37 46 67
                            <a href="mailto:team@theboxmake.rs">team@theboxmake.rs</a>
                        </address>
                    </div>

                </div>

                <div class="row">
                    <div class="span12 text-centered">
                        <p>&copy; Tous droits réservés - 2012 - Pensé et fabriqué à Nantes</p>
                    </div>
                </div>

                <div class="row">
                    <div id="legal-line" class="span8 offset2">
                        <p>
                            Les photos des produits ne sont pas contractuelles. En cas de différence de prix, le prix en magasin fait foi.
                            <br>
                            L'abus d'alcool est dangereux pour la santé. A consommer avec modération. <a href="http://www.mangerbouger.fr/">mangerbouger.fr</a>
                        </p>
                    </div>
                </div>

            </div>
        </footer>

		
        <script src="/bundles/piggyboxuser/js/vendor/jquery-1.8.1.min.js"></script>
        <script src="/bundles/piggyboxuser/js/vendor/bootstrap.min.js"></script>

		<script src="/bundles/piggyboxuser/js/main.js"></script>

		
		

        <script src="/bundles/piggyboxuser/js/productDetails.js"></script>

        <script type="text/javascript">
            $(document).ready(function(){
                $('li#boeuf').addClass('active');
            });
        </script>


         
		<!-- ClickTale Bottom part -->
		<div id="ClickTaleDiv" style="display: none;"></div>
		<script type="text/javascript">
			if(document.location.protocol!='https:')
			  document.write(unescape("%3Cscript%20src='http://s.clicktale.net/WRd.js'%20type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			if(typeof ClickTale=='function') ClickTale(7945,0.9,"www14");
		</script>
		<!-- ClickTale end of Bottom part -->
    
<div id="sfwdt50a0a61cb5466" class="sf-toolbar" style="display: none"></div><script type="text/javascript">/*<![CDATA[*/    Sfjs = (function() {        "use strict";        var noop = function() {},            request = function(url, onSuccess, onError, payload, options) {                var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');                options = options || {};                xhr.open(options.method || 'GET', url, true);                xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');                xhr.onreadystatechange = function(state) {                    if (4 === xhr.readyState && 200 === xhr.status) {                        (onSuccess || noop)(xhr);                    } else if (4 === xhr.readyState && xhr.status != 200) {                        (onError || noop)(xhr);                    }                };                xhr.send(payload || '');            },            hasClass = function(el, klass) {                return el.className.match(new RegExp('\\b' + klass + '\\b'));            },            removeClass = function(el, klass) {                el.className = el.className.replace(new RegExp('\\b' + klass + '\\b'), ' ');            },            addClass = function(el, klass) {                if (!hasClass(el, klass)) { el.className += " " + klass; }            };        return {            hasClass: hasClass,            removeClass: removeClass,            addClass: addClass,            request: request,            load: function(selector, url, onSuccess, onError, options) {                var el = document.getElementById(selector);                if (el && el.getAttribute('data-sfurl') !== url) {                    request(                        url,                        function(xhr) {                            el.innerHTML = xhr.responseText;                            el.setAttribute('data-sfurl', url);                            removeClass(el, 'loading');                            (onSuccess || noop)(xhr, el);                        },                        function(xhr) { (onError || noop)(xhr, el); },                        options                    );                }                return this;            },            toggle: function(selector, elOn, elOff) {                var i,                    style,                    tmp = elOn.style.display,                    el = document.getElementById(selector);                elOn.style.display = elOff.style.display;                elOff.style.display = tmp;                if (el) {                    el.style.display = 'none' === tmp ? 'none' : 'block';                }                return this;            }        }    })();/*]]>*/</script><script type="text/javascript">/*<![CDATA[*/    (function () {                Sfjs.load(            'sfwdt50a0a61cb5466',            '/_wdt/50a0a61cb5466',            function(xhr, el) {                el.style.display = -1 !== xhr.responseText.indexOf('sf-toolbarreset') ? 'block' : 'none';            },            function(xhr) {                if (xhr.status !== 0) {                    confirm('An error occurred while loading the web debug toolbar (' + xhr.status + ': ' + xhr.statusText + ').\n\nDo you want to open the profiler?') && (window.location = '/_profiler/50a0a61cb5466');                }            }        );    })();/*]]>*/</script>
</body>
</html>
