{% extends 'PiggyBoxShopBundle::layout.html.twig'%}
{% block body%}

{% include 'PiggyBoxShopBundle:Product:product_sub_header.html.twig' %}
<div id="main">
	<div id="primary" class="site-content container">


	<div class="page-header">
		<h1>Produits disponibles à la commande en ligne</h1>
	</div>



	<ul class="nav nav-pills nav-pills-large">
		<li class="active">
			<a href="#">Boeuf</a>
		</li>
		<li><a href="#">Veau</a></li>
		<li><a href="#">Porc</a></li>
		<li><a href="#">Charcuterie</a></li>
		<li><a href="#">Barbecue</a></li>
		<li><a href="#">Plats cuisinés</a></li>
	</ul>


		<div class="box box-margined">
		    <div class="row-fluid">

		    	<div class="span2">
		    		<img src="http://placehold.it/120x120" class="img-polaroid">
		    	</div>

				<div class="entry-description span6">
					<h3 class="no-margin">Onglet Angus</h3>
					<div>La renommée de la race Angus est mondiale, et il n'est pas rare de trouver des pièces d'Angus à la carte des gastronomiques</div>

				</div>

				<div class="span2 text-centered">
					
					<h4 class="">Prix /Kg</h4>
					<h3 class="no-margin">21,90 €</h3>

				</div>

				<div class="span2">
					<a href="produits-modify.php" class="btn btn-large btn-block btn-primary"><i class="icon-wrench icon-white"></i> Modifier</a>
					<hr />
					<a href="" class="btn btn-block"><i class="icon-eject"></i> Indisponible</a>
				</div>

		    </div>
		</div>  


    </div>
</div>

{% endblock %}

