<h1>Category list</h1>

{% block content %}

{% if tree %}
<h3>The tree looks like:</h3>

<div id="tree">
    {{ tree|raw }}
</div>
{% else %}
<div class="alert-message info"><p>There are no nodes in tree to display</p></div>
{% endif %}

{% endblock %}

-
<ul>
    <li>
        <a href="{{ path('category_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
